/****************
 * Progress bar *
 ****************/

GtkProgressBar {
    -GtkProgressBar-min-horizontal-bar-height: 14;
    -GtkProgressBar-min-vertical-bar-width: 14;
}

GtkProgressBar.trough{
    border: 1px solid @insensitive_color;
    border-radius: 2px;
    background-color: shade(@insensitive_color, 1.35);
}

@define-color p_color #31abee;

.progressbar {
    border-radius: 2px;
    background-color: @p_color;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@p_color),
                                     color-stop (0.1, @p_color),
                                     to (@p_color));
    background-color: @p_color;

    color: @selected_fg_color;
}
