UnityDecoration {
    -UnityDecoration-extents: 28px 1px 1px 1px;
    -UnityDecoration-input-extents: 10px;

    -UnityDecoration-shadow-offset-x: 1px;
    -UnityDecoration-shadow-offset-y: 1px;
    -UnityDecoration-active-shadow-color: rgba(0,0,0,0.7);
    -UnityDecoration-active-shadow-radius: 8px;
    -UnityDecoration-inactive-shadow-color: rgba(0,0,0,0.5);
    -UnityDecoration-inactive-shadow-radius: 5px;

    -UnityDecoration-glow-size: 10px;
    -UnityDecoration-glow-color: @theme_selected_bg_color;

    -UnityDecoration-title-indent: 10px;
    -UnityDecoration-title-fade: 35px;
    -UnityDecoration-title-alignment: 0.0;
}

UnityDecoration.top {
	/*
    border: 0px solid mix(shade(@titlebar_bg_color, 0.7), @titlebar_fg_color, 0.21);
    */
    border-bottom-width: 0;
    border-radius: 8px 8px 0 0;
    padding: 1px 8px 0 8px;
    background-color: alpha(@titlebar_bg_color, 0.99);
    color: mix(@titlebar_fg_color, @titlebar_bg_color, 0.1);
    text-shadow: 0 1px 0 alpha(@dark_shadow, 0.9);
    /*filter: blur(13px);*/
}

UnityDecoration.top:backdrop {
	/*
    border: 0px solid mix(shade(@titlebar_bg_color, 0.7), @titlebar_fg_color, 0.12);
    */
    border-bottom-width: 0;
    background-color: alpha(@titlebar_bg_color, 0.95);
    color: mix(@titlebar_fg_color, @titlebar_bg_color, 0.4);
    border-radius: 8px 8px 0 0;

    text-shadow: 0 1px 0 alpha(@dark_shadow, 0.9), 0px 0px 1px @light_shadow;
    transition: all 0.3s ease-in-out;
}

UnityDecoration.left,
UnityDecoration.right,
UnityDecoration.bottom {
    /*background-color: mix(shade(@titlebar_bg_color, 0.7), @titlebar_fg_color, 0.21);*/
    background-color: alpha(@titlebar_bg_color, 0.99);
}

UnityDecoration.left:backdrop,
UnityDecoration.right:backdrop,
UnityDecoration.bottom:backdrop {
    /*background-color: mix(shade(@titlebar_bg_color, 0.7), @titlebar_fg_color, 0.12);*/
    background-color: alpha(@titlebar_bg_color, 0.99);
}


UnityPanelWidget,
.unity-panel {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: @panel_bg_color;
    background-color: @panel_bg_color;
    background-image: none;
    color: @panel_fg_color;
}

.unity-panel.menubar,
.unity-panel .menubar {
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 0 1px;
    color: @panel_fg_color;
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
    border-color: mix(@panel_bg_color, @panel_fg_color, 0.21);
    background-color: mix(@panel_bg_color, @panel_fg_color, 0.21);
    background-image: none;
    color: shade(@panel_fg_color, 1.08);
}
