#************************************************
#	gtk2-colors-graphite.css
#************************************************
gtk-color-scheme 	= "selected_bg_color: #6d6d6d"
gtk-color-scheme 	= "selected_fg_color: #ffffff"
gtk-color-scheme 	= "row_selected_bg_color: #cfcfcf"
gtk-color-scheme 	= "row_selected_fg_color: #080808"
gtk-color-scheme 	= "entry_text_selected: #cfcfcf"
gtk-color-scheme 	= "entry_text_color: #080808"


