/***********************
 * fallback mode panel *
 ***********************/
PanelWidget,
PanelApplet,
PanelToplevel {
    padding: 0;
    background-color: @panel_bg_color;
    background-image: none;
    color: @panel_fg_color;
}

PanelApplet {
    border-width: 0;
}

PanelSeparator {
    border-width: 0;
    background-color: @panel_bg_color;
    background-image: none;
    color: @panel_fg_color;
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
PanelApplet > GtkMenuBar.menubar.menuitem,
PanelMenuBar.menubar,
PanelMenuBar.menubar.menuitem {
    -PanelMenuBar-icon-visible: true;

    border-width: 0;
    background-color: @panel_bg_color;
    background-image: none;
}

PanelAppletFrame {
    border-width: 0;
    background-color: @panel_bg_color;
    background-image: none;
}

PanelApplet .button {
    -GtkButton-inner-border: 2;

    border-width: 0 1px;
    border-radius: 0;
    border-color: transparent;
    background-color: @panel_bg_color;
    background-image: none;
    color: @panel_fg_color;
}

PanelApplet .button:active {
    border-width: 0 1px;
    border-radius: 0;
    border-color: mix(@panel_bg_color, @panel_fg_color, 0.21);
    background-color: mix(@panel_bg_color, @panel_fg_color, 0.21);
    background-image: none;
    color: shade(@panel_fg_color, 1.08);
}

PanelApplet .button:prelight {
    border-color: mix(@panel_bg_color, @panel_fg_color, 0.11);
    background-color: mix(@panel_bg_color, @panel_fg_color, 0.11);
    background-image: none;
    color: shade(@panel_fg_color, 1.08);
}

PanelApplet .button:active:prelight {
    border-color: mix(@panel_bg_color, @panel_fg_color, 0.31);
    background-color: mix(@panel_bg_color, @panel_fg_color, 0.31);
    background-image: none;
    color: shade(@panel_fg_color, 1.08);
}

WnckPager, WnckTasklist {
    background-color: @panel_bg_color;
}

/************
 * nautilus *
 ************/
NautilusWindow .notebook tab,
GeditWindow .notebook tab
{
    background-color: shade(@base_color,0.92);
    color:gray;
    border: none;
    border-radius: 0;
    box-shadow: inset -1px 0 @border;
    border-left: 1px solid @border;
}
NautilusWindow .notebook tab .active-page GtkLabel {
    color:black;
}
GeditWindow .notebook tab:active,
NautilusWindow .notebook tab:active,
GeditWindow .notebook tab:last-child:active,
NautilusWindow .notebook tab:last-child:active
{
    background-color: @base_color;
    border:none;
    box-shadow: inset 1px 0 @border,
                inset -1px 0 @border;
    border-radius: 0px;
    
    
}
GeditWindow .notebook tab GtkLabel,
GeditWindow .notebook tab GtkImage{
    color:@text_color;
}
GeditWindow .notebook tab .prelight-page GtkLabel,
GeditWindow .notebook tab .prelight-page GtkImage{
    color:black;
}
GeditWindow .notebook tab .active-page GtkLabel,
GeditWindow .notebook tab .active-page GtkImage{
    color:black;
}

GeditWindow .notebook tab:first-child:active,
NautilusWindow .notebook tab:first-child:active{
    box-shadow: inset -1px 0 @border;
}


GeditWindow .notebook tab:last-child,
NautilusWindow .notebook tab:last-child {
    border-radius: 0px;
    box-shadow: inset -1px 0 @border;
}
.nautilus-canvas-item {
    border-radius: 2px;
}

.nautilus-desktop.nautilus-canvas-item {
    color: white;
    text-shadow: 1px 1px black;
}

.nautilus-desktop.nautilus-canvas-item:active {
    color: @theme_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
    color: @theme_selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: none;
}

NautilusWindow .toolbar {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: shade(@toolbar_bg_color, 0.8);
}


NautilusWindow .sidebar .frame {
    border-style: none;
}

NautilusWindow .toolbar .entry
{
    background-color: shade(@toolbar,0.8);
    border: 1px solid @inline;
    color:@toolbar_text;
}
NautilusWindow .toolbar .entry:focus
{
background-color: shade(@toolbar,0.9);
    border: 1px solid @active_text;
}
NautilusWindow .toolbar .button.text-button {
    padding: 2px 4px;

    border:1px solid @border;
}
NautilusWindow .toolbar .button.text-button:active{

    border:1px solid @border;
    color:white;
}




NautilusWindow > GtkGrid > .pane-separator,
NautilusWindow > GtkGrid > .pane-separator:hover {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    background-color: @theme_bg_color;
}

NautilusNotebook.notebook {
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
}

NautilusNotebook .frame {
    border-width: 0;
}

NautilusQueryEditor .search-bar.toolbar {
    border-top-width: 0;
    border-bottom-width: 0;
}

NautilusQueryEditor .toolbar {
    padding-top: 3px;
    padding-bottom: 2px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: @toolbar_bg_color;
    background-color: shade(@toolbar_bg_color, 0.9);
}

NautilusQueryEditor .toolbar:nth-child(2) {
    border-color: shade(@toolbar_bg_color, 0.8);
}

NautilusQueryEditor .toolbar:last-child,
NautilusQueryEditor .search-bar.toolbar:only-child {
    border-bottom-width: 1px;
    border-bottom-color: shade(@toolbar_bg_color, 0.8);
}


/******************
 * gnome terminal *
 ******************/
VteTerminal {
    background-color: @osd_base;
    color: @osd_fg;
}

TerminalWindow GtkNotebook.notebook {
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

TerminalWindow .scrollbars-junction,
TerminalWindow .scrollbar.trough {
    background-color: @osd_base;
}

TerminalWindow .scrollbar.button,
TerminalWindow .scrollbar.button:active,
TerminalWindow .scrollbar.button:active:hover {
    color: shade(@osd_base, 0.6);
}

TerminalWindow .scrollbar.slider {
    border-color: mix(shade(@osd_base, 0.87), @osd_fg, 0.21);
    background-color: mix(@osd_base, @osd_fg, 0.21);
}

TerminalWindow .scrollbar.slider:hover,
TerminalWindow .scrollbar.slider.vertical:hover {
    border-color: mix(shade(@osd_base, 0.87), @osd_fg, 0.31);
    background-color: mix(@osd_base, @osd_fg, 0.31);
}

TerminalWindow .scrollbar.slider:active,
TerminalWindow .scrollbar.slider.vertical:active {
    border-color: shade(@theme_selected_bg_color, 0.9);
    background-color: @theme_selected_bg_color;
}

/*********
 * gedit *
 *********/
GeditWindow .pane-separator,
GeditWindow .pane-separator:hover {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    background-color: @theme_bg_color;
    color: shade(@theme_bg_color, 0.8);
}

.gedit-document-panel {
    background-color: @theme_bg_color;
    color: mix(@theme_fg_color, @theme_bg_color, 0.1);
}

.gedit-document-panel-group-row,
.gedit-document-panel-group-row:hover {
    border-top: 1px solid shade(@theme_bg_color, 0.9);
    background-color: @theme_bg_color;
}

.gedit-document-panel-document-row:hover {
    background-color: shade(@theme_bg_color, 1.05);
}

.gedit-document-panel-document-row:selected,
.gedit-document-panel-document-row:selected:hover {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

.gedit-document-panel .list-row .button {
    padding: 1px;
    border-image: none;
    border-radius: 2px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    background-color: transparent;
    background-image: none;
    color: transparent;
    icon-shadow: none;
}

.gedit-document-panel .prelight-row .button  {
    border-color: alpha(black, 0.1);
    color: mix(@theme_text_color, @theme_base_color, 0.5);
}

.gedit-document-panel .list-row .button:hover,
.gedit-document-panel .prelight-row .button:hover {
    color: @theme_text_color;
    border-color: alpha(black, 0.1);
}

.gedit-document-panel .prelight-row .button:active {
    color: @theme_text_color;
    background-color: alpha(black, 0.08);
    border-color: alpha(black, 0.2);
}

GeditStatusbar {
    border-top: 1px solid shade(@theme_bg_color, 0.8);
}

GeditStatusbar GeditSmallButton,
GeditStatusMenuButton {
    text-shadow: none;
}

GeditStatusbar GeditSmallButton.button,
GeditStatusbar GeditSmallButton.button:hover,
GeditStatusbar GeditSmallButton.button:active,
GeditStatusbar GeditSmallButton.button:active:hover,
GeditStatusMenuButton.button,
GeditStatusMenuButton.button:hover,
GeditStatusMenuButton.button:active,
GeditStatusMenuButton.button:active:hover {
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    border-radius: 0;
    padding: 1px 6px 2px 4px;
}

GeditStatusbar GeditSmallButton.button:hover,
GeditStatusbar GeditSmallButton.button:active,
GeditStatusbar GeditSmallButton.button:active:hover,
GeditStatusMenuButton.button:hover,
GeditStatusMenuButton.button:active,
GeditStatusMenuButton.button:active:hover {
    border-color: shade(@theme_bg_color, 0.8);
}

GeditStatusbar GeditSmallButton.button:active,
GeditStatusMenuButton.button:active {
    background-color: shade(@theme_bg_color, 0.95);
    color: @theme_fg_color;
}

GeditViewFrame .gedit-search-slider {
    padding: 4px;
    border-radius: 0 0 2px 2px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: shade(@theme_base_color, 0.8);
    background-color: @theme_base_color;
}

GeditViewFrame .gedit-search-slider .not-found {
    background-color: @error_bg_color;
    background-image: none;
    color: @error_fg_color;
}

GeditViewFrame .gedit-search-slider .not-found:selected {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

GeditFileBrowserWidget .toolbar {
    padding: 2px;
    border-top: none;
    background-color: @theme_bg_color;
    background-image: none;
}

.gedit-search-entry-occurrences-tag {
    margin: 2px;
    padding: 2px;
    color: mix(@theme_text_color, @theme_base_color, 0.5);
}

/***************
 * font-viewer *
 ***************/
SushiFontWidget {
    padding: 6px 12px;
}

/*************
 * gucharmap *
 *************/
GucharmapChartable {
    background-color: @theme_base_color;
    color: @theme_text_color;
}

GucharmapChartable:active,
GucharmapChartable:focus,
GucharmapChartable:selected {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

/*************
 * evolution *
 *************/
EPreviewPane .entry {
    background-color: @theme_base_color;
    color: @theme_text_color;
}

/******************
 * gnome calendar *
 ******************/
.calendar-view {
    background-color: shade(@theme_base_color, 0.95);
    color: @theme_text_color;
}

/*******************
 * gnome-bluetooth *
 *******************/
GtkEntry.entry.pin-entry {
	font: regular 50;
	padding-left: 25px;
	padding-right: 25px;
}

GtkLabel.pin-label {
	font: regular 50;
}
/*数字输入框*/
MathDisplay GtkTextView.view {
    background-color: shade(@toolbar, 0.80);
    color:white;
    border: 1px solid red;
}
MathDisplay GtkTextView.view:backdrop {
    background-color: shade(@toolbar, 0.90);
    color:shade(@toolbar_text,0.7);;
    border: 1px solid red;
}
MathWindow.background > GtkBox.vertical > GtkBox.vertical > GtkScrolledWindow {

    border-width: 		 1px;
    border-color: @inline;
	border-radius: 		 0px;
    border-style: 		 solid;

	border-image: 		 none;

}

MathWindow .header-bar .button {
	box-shadow: none;
}
MathWindow .header-bar .button:hover {
	box-shadow: none;
}


/*Calculator background color*/
MathWindow {
    color: @toolbar_text;    
    background-image:                   
                      -gtk-gradient (linear,
                                     left top, left bottom,
                                     from             (alpha(@toolbar, 1.00)),
									 color-stop (0.25, shade(@toolbar, 0.95)),
                                     to               (shade(@toolbar, 0.94)));
    background-repeat: repeat;
    background-position: top left;
}

MathWindow:backdrop {
    color: shade(@toolbar_text,0.7);   
    background-color: @toolbar;

}

MathWindow .button {
	background-image:  -gtk-gradient (linear,
						             left top, left bottom,
						             from (shade(@toolbar,0.8)),
						             to   (shade(@toolbar,0.7)));
    color: @toolbar_text;
    border-radius: 0;
    padding: 16px 24px;
    border: 1px solid alpha(#000,0.5);
    box-shadow: inset 1px  0 alpha(#fff,0.02),
                inset 0 1px alpha(#fff,0.04),
                inset 0 -1px alpha(#fff,0.02),
                inset -1px 0 alpha(#fff,0.02);
}

MathWindow .header-bar GtkComboBox:hover{
    box-shadow: none;
    border: 1px solid transparent;
}

MathWindow GtkTable:hover,
MathWindow .button:hover {
background-image: linear-gradient(-180deg, rgba(81,161,255,0.20) 0%, rgba(39,114,255,0.50) 100%);

    color: white;
    border: 1px solid alpha(#000,0.4);
    border-radius: 0px;
/*     padding: 16px 24px; */
    box-shadow: inset 1px  0 alpha(#fff,0.02),
                inset 0 1px alpha(#fff,0.04),
                inset 0 -1px alpha(#fff,0.02),
                inset -1px 0 alpha(#fff,0.02);
}
MathWindow GtkTable :active,
MathWindow .button:active,
MathWindow .button:hover:active,
MathWindow .cell {
    background-image: linear-gradient(-180deg, #1D2B3E 0%, #213964 100%);    
    color: @toolbar_text;
    border: 1px solid black;
    box-shadow: inset 1px  0 alpha(#fff,0.02),
                inset 0 1px alpha(#fff,0.04),
                inset 0 -1px alpha(#fff,0.02),
                inset -1px 0 alpha(#fff,0.02);
}

MathWindow .button:backdrop,
MathWindow .button:hover:backdrop,
MathWindow .button:active:backdrop,
MathWindow .button:hover:active:backdrop
{
background-image:  -gtk-gradient (linear,
                                     left top, left bottom,
                                     from             (shade(@toolbar, 1.00)),
									 color-stop (0.25, shade(@toolbar, 0.95)),
                                     to               (shade(@toolbar, 0.94)));
    color: shade(@toolbar_text ,0.7);
	text-shadow: 0px 1px @dark_text_shadow;
}
MathWindow GtkComboBox .menu {
    background-color: @toolbar;
    border:1px solid @border;
    color:@toolbar_text;
}

MathWindow GtkComboBox .menu .menuitem:active,
MathWindow GtkComboBox .menu .menuitem:hover {
    color: white;
}
MathWindow .scrollbar.trough {
    border-width: 0;
    border-radius: 0;
    background-color: shade(@toolbar,0.95);
    background-image: none;
}
/*
MathWindow .cell {
background-image:-gtk-gradient (linear,
                                     left top, left bottom,
                                     from             (shade(@toolbar, 1.00)),
									 color-stop (0.25, shade(@toolbar, 0.95)),
                                     to               (shade(@toolbar, 0.94)));
    color: white;
	text-shadow: 0px 1px @dark_text_shadow;
    padding: 10px 14px;
}
*/



MathWindow .menuitem {
    color: @toolbar_text;
    text-shadow: 1px 1px @alpha(#000, 0.30);

}

MathWindow GtkLabel:insensitive {
    color: mix(@toolbar, @toolbar_text, 0.90);
	text-shadow: none;
}

