/*********
* Button *
*********/

.button,
.button.menuitem.menubar,
GtkComboBox.combobox-entry .button {
    padding: 3px;
}

.button {
    border: 1px solid #5a8ca6;
    background-color: #f2fbff;
    border-radius: 2px;
}

.button:hover {
    background-color: #cceeff;
}

.button:active,
.button:hover:active {
    background-color: #aecfe1;
}

.toolbar .button {
    padding: 0px;
	icon-shadow: none;
}

/*************************** 
* Secondary Toolbar Button *
***************************/

.secondary-toolbar.toolbar .button {
    -GtkButton-inner-border: 0 3px 0 3px;
    padding: 0 3px 0 3px;
    -unico-outer-stroke-width: 0;
}

.secondary-toolbar.toolbar .button:hover {

    color: shade (@selected_bg_color, 0.65);

    border-color: @transparent;
    background-image: none;
    background-color: @transparent;
    -unico-inner-stroke-width: 0;
    -unico-border-gradient: none;
}

.secondary-toolbar.toolbar .button:active,
.secondary-toolbar.toolbar .button:hover:active {

    -unico-inner-stroke-gradient: -gtk-gradient (linear,
        left top, left bottom,
        from (alpha (#000, 0.00)),
        to (alpha (#000, 0.00)));

    background-image: -gtk-gradient (linear,
        left top,
        left bottom,
        from (alpha (#000, 0.10)),
        to (alpha (#000, 0.10)));

    -unico-border-gradient: -gtk-gradient (linear,
        left top, left bottom,
        from (alpha (#000, 0.30)),
        color-stop (0.15, alpha (#000, 0.10)),
        color-stop (0.85, alpha (#000, 0.10)),
        to (alpha (#fff, 0.50)));
}

/******************
* Special Buttons *
******************/

.help_button {

    text-shadow: 0 1 alpha (#000, 0.6);
    icon-shadow: 0 1 alpha (#000, 0.6);

    background-image: -gtk-gradient (linear,
        left top,
        left bottom,
        from (#959ea7),
        color-stop (0.49, #76828e),
        color-stop (0.51, #677481),
        to (#8d96a0));

    -unico-border-gradient: -gtk-gradient (linear,
        left top, left bottom,
        from (#6c7580),
        to (#474e55));
        
    -unico-inner-stroke-gradient: -gtk-gradient (linear,
        left top, left bottom,
        from (alpha (#fff, 0.30)),
        to (alpha (#fff, 0.00)));
}

.help_button *:insensitive {
    color: alpha (@text_color, 0.7);
}

.button.noundo {
    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
                     from (#e56453),
                     to (#bb2332));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (#dd3b27),
                     to (#791235));
}
