* {
    engine: unico;
    padding: 1px;
    
    background-clip: padding-box;

    -GtkArrow-arrow-scaling: 0.75;
    
    -GtkCheckButton-indicator-size: 22;
    -GtkCheckButton-indicator-spacing: 0;
    -GtkCheckMenuItem-indicator-size: 18;
    
    -GtkExpander-expander-size: 6; 
      
    -GtkMenu-horizontal-padding: 2;
    -GtkMenu-vertical-padding: 2;
    
    -GtkPaned-handle-size: 8px;
    
    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkScrolledWindow-scrollbars-within-bevel: 1;
    
    -GtkTextView-error-underline-color: @error_color;
    
    -GtkWidget-focus-padding: 0;
    -GtkWidget-focus-line-width: 1;
    
    -GtkWidget-wide-separators: true;
    -GtkWidget-separator-width: 2px;
    -GtkWidget-separator-height: 2px;
    
    -GtkWidget-link-color: @link_color;
    -GtkWidget-visited-link-color: @link_color;
    -GtkIMHtml-hyperlink-color: @link_color;
    -GtkHTML-link-color: @link_color;

    -GtkWindow-resize-grip-default: false;
    -GtkWindow-resize-grip-width: 0;
    -GtkWindow-resize-grip-height: 0;

    -unico-bullet-color: shade (@bg_color, 0.535);
    -unico-bullet-outline-color: shade (@bg_color, 1.2);
    -unico-inner-stroke-color: transparent;
    -unico-text-shadow-color: alpha (#fff, 0.30);
    -unico-focus-border-color: transparent;
    -unico-focus-fill-color: transparent;
    -unico-focus-outer-stroke-color: transparent;
}

/*****************
 * Widget States *
 ****************/

* {
    background-color: @bg_color;
    color: @text_color;
}

*:backdrop {
    background-color: shade (@bg_color, 1.06);
    color: @insensitive_color;
}

*:insensitive {
    color: @insensitive_color;
}

*:backdrop:insensitive{
    color: @insensitive_color;
}

*:selected,
*:selected:focused {
    background-color: alpha (@selected_bg_color, 0.9);
    color: @selected_fg_color;
}

/****************
* Border Styles *
****************/

/* Border */
GtkScrolledWindow.frame,
.entry,
.separator {
    border-style: solid;
    border-width: 1px;
	/*-unico-inner-stroke-width: 1px;*/
	/*-unico-outer-stroke-width: 1px;*/
}

/* No Border */
.menu.button,
.tooltip {
    border-image: none;
    border-style: none;
    border-width: 0;
    -unico-outer-stroke-style: none;
    -unico-inner-stroke-style: none;
    -unico-outer-stroke-width: 0;
    -unico-inner-stroke-width: 0;
}

/* No focus border */
.button:active,
.button:hover:active {
    -unico-focus-border-color: transparent;
    -unico-focus-fill-color: transparent;
    -unico-focus-outer-stroke-color: transparent;
}

/**********
* Padding *
**********/

/* No Padding */

.entry.progressbar,
.notebook tab .button,
.notebook tab .button:hover,
.notebook tab .button:hover:active,
.toolbar GtkComboBox {
    padding: 0;
}


/************
* Roundness *
************/

/* Square */
.dynamic-notebook tab,
.inline-toolbar.toolbar,
.inline-toolbar.toolbar .button,
.pane-separator,
.rubberband,
.spinbutton .button,
.spinbutton .button:focus,
.view,
GtkTreeView .entry,
column-header .button {
    border-radius: 0;
}

/* Slightly rounded */
.entry {
    border-radius: 2.5px;
}

/* Window roundness */
.tooltip {
    border-radius: 3px;
}

/* Circular */
.help_button,
GtkInfoBar .button {
    border-radius: 12px;
}


/**************
* Text Styles *
**************/

/* etched text */
.help_button:backdrop,
.entry,
.inline-toolbar.toolbar .button,
*:insensitive,
.secondary-toolbar,
.secondary-toolbar.toolbar .button,
.sidebar,
.toolbar {
    text-shadow: 0 1 alpha (#fff, 0.4);
    icon-shadow: 0 1 alpha (#fff, 0.4);
}

/* white text */
.button.noundo *,
.button.noundo *:prelight,
.expander row:selected,
.expander row:selected:focused,
.help_button *,
.help_button *:prelight,
.tooltip *,
GtkInfoBar * {
    color: @selected_fg_color;
}

/* text shadow */
.tooltip,
GtkInfoBar {
    text-shadow: 0 1 alpha (#000, 0.3);
    icon-shadow: 0 1 alpha (#000, 0.3);
}

.title { font: raleway 36; }
.h1 { font: open sans bold 24; }
.h2 { font: open sans light 18; }
.h3 { font: open sans bold 12; }

/***********
* Calendar *
************/

GtkCalendar {
    border-radius: 2px;
}

GtkCalendar.button,
GtkCalendar.button:insensitive,
GtkCalendar.button:backdrop,
GtkCalendar.button:insensitive:backdrop,
GtkCalendar.header,
GtkCalendar.view {
    background-image: none;
    background-color: transparent
}

GtkCalendar.highlight {
    background-color: @transparent;
    color: #777;
    border-width: 0;
}


/**************
 * ComboBoxes *
 **************/

GtkComboBox {
    -GtkComboBox-arrow-scaling: 0.5;
    -GtkComboBox-shadow-type: none;
}


/***********
* Expander *
***********/

.expander {
    color: @fg_color;
}


/**********
 * Frames *
 **********/
.frame {
    padding: 2px;
    border-width: 0;
    background-color: @base_color;
}

/* only render frames in a GtkScrolledWindow */
GtkScrolledWindow.frame {
    padding: 0;

    -unico-outer-stroke-width: 0;

    -unico-border-gradient: -gtk-gradient (linear,
        left top, left bottom,
        from (shade (@bg_color, 0.84)),
        to (shade (@bg_color, 0.70)));
}

/********
 * Grip *
 ********/

.grip {
	/*background-color: transparent;*/
    /***
	-unico-centroid-texture: -gtk-gradient(linear,
                            left top,
                            left bottom,
                            from(rgba(255, 255, 255, 0.0)),
                            to(rgba(255, 255, 255, 0.0))
                            );
    ***/
}

/************
 * iconview *
 ************/

GtkViewport,
GtkIconView {
    padding: 0;
    background-color: @transparent;
}

GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focused {
    background-color: alpha (#000, 0.18);
    border-radius: 4px;
    color: @text_color;

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (@base_color, 0.74)),
                     to (shade (@base_color, 0.74)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (alpha (#000, 0.07)),
                    to (alpha (#000, 0.03)));
}

.view.rubberband,
.rubberband {
    background-color: rgba(167,167,167,0.5);
    border-color: #eee;
    border-style: solid;
    border-width: 1px;
}

/***********
 * infobar *
 ***********/
 
GtkInfoBar {
    border-style: solid;
    border-width: 0 0 1px 0;
    -unico-inner-stroke-width: 1px 0 1px 0;

    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (shade (@selected_bg_color, 1.30)),
                    to (shade (@selected_bg_color, 0.98)));

    -unico-border-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (shade (@selected_bg_color, 1.05)),
                    to (shade (@selected_bg_color, 0.88)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (alpha (#fff, 0.30)),
                    to (alpha (#fff, 0.06)));
}

GtkInfoBar:backdrop {

    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (shade (@bg_color, 0.85)),
                    to (shade (@bg_color, 0.73)));

    -unico-border-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (shade (@bg_color, 0.75)),
                    to (shade (@bg_color, 0.63)));
}

GtkInfoBar .entry,
GtkInfoBar .menu {
    color: @text_color;
}
 
GtkInfoBar .button {

    text-shadow: none;
    icon-shadow: none;
    
    background-image: none;
    background-color: @transparent;    
    
    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (alpha (#fff, 0.25)),
                     color-stop (0.50, @transparent),
                     to (@transparent));

    -unico-outer-stroke-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (@transparent),
                     color-stop (0.50, @transparent),
                     to (alpha (#fff, 0.30)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (alpha (#000, 0.30)),
                     to (alpha (#000, 0.24)));

}

GtkInfoBar .button:active,
GtkInfoBar .button:hover:active {

    background-image: none;
    background-color: alpha (#000, 0.05);
    
    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (alpha (#000, 0.30)),
                     to (alpha (#000, 0.24)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (alpha (#000, 0.07)),
                    to (alpha (#000, 0.03)));
}

GtkInfoBar .button:insensitive,
GtkInfoBar .button:hover:insensitive {

    background-image: none;
    background-color: @transparent;    

    -unico-outer-stroke-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (alpha (#fff, 0.00)),
                     color-stop (0.50, alpha (#fff, 0.00)),
                     to (alpha (#fff, 0.20)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (alpha (#000, 0.24)),
                     to (alpha (#000, 0.18)));

}

GtkInfoBar *:insensitive {

    color: shade (@selected_bg_color, 0.65);

}

GtkInfoBar *:backdrop {

    color: #fff;
}

GtkInfoBar .button *:backdrop {

    color: shade (@bg_color, 0.50);
}


GtkInfoBar .button:backdrop {

    background-image: none;
    background-color: @transparent;    

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (alpha (#000, 0.30)),
                     to (alpha (#000, 0.24)));

}

/******************
* Scrolled Window *
******************/

GtkScrolledWindow {
    background-color: @transparent;
}

/************
* Separator *
************/
.menu .separator{
    -GtkWidget-separator-width: 1px;
    -GtkWidget-separator-height: 1px;
    border-style: solid;
    -unico-border-gradient: -gtk-gradient(linear,
                            left top, right top,
                            from(transparent),
                            color-stop(0.4, rgba(0,0,0,0.5)),
                            color-stop(0.5, rgba(0,0,0,0.7)),
                            color-stop(0.6, rgba(0,0,0,0.5)),
                            to(transparent)
                            );
}

.separator.horizontal{
    -unico-border-gradient: -gtk-gradient(linear,
                            left top, right top,
                            from(transparent),
                            color-stop(0.2, rgba(0,0,0,0.8)),
                            color-stop(0.5, rgba(0,0,0,1.0)),
                            color-stop(0.8, rgba(0,0,0,0.8)),
                            to(transparent)
                            );
}

.separator.vertical{
    -unico-border-gradient: -gtk-gradient(linear,
                            left top, left bottom,
                            from(transparent),
                            color-stop(0.2, rgba(0,0,0,0.8)),
                            color-stop(0.5, rgba(0,0,0,1.0)),
                            color-stop(0.8, rgba(0,0,0,0.8)),
                            to(transparent)
                            );
}
/**************
* SpinButtons *
**************/

.spinbutton .button,
.spinbutton .button:focus {
    padding: 2px 6px;
    
    -unico-outer-stroke-width: 0 0 0 1px;
}

.spinbutton .button:first-child {
    border-width: 1px 0 1px 1px;
    border-radius: 2px 0 0 2px;
    -unico-outer-stroke-width: 0;
}

.spinbutton .button:last-child {
    border-width: 1px 1px 1px 0;
    border-radius: 0 2px 2px 0;
    -unico-outer-stroke-width: 0;
}

/************
 * Tooltips *
 ************/
 
.tooltip {
    padding: 2px;
    
    background-color: alpha(#000, 0.70);
}

.tooltip * {
    background-color: alpha(#000, 0.70);
}


/********
* Views *
********/

.view {
    background-color: @base_color;
}

.view:selected {
    background-color: @selected_bg_color
}

/****************************************************************************************************
******************************************************* Redo this crap ******************************
****************************************************************************************************/



/*************
* Highlights *
*************/

.entry,
.dynamic-notebook .button {
        -unico-outer-stroke-gradient: -gtk-gradient (linear,
                         left top, left bottom,
                         from (@transparent),
                         color-stop (0.80, @transparent),
                         to (alpha (#fff, 0.40)));
}

/**********
* Shadows *
**********/

/* Inner Shadow */

/**.button:active,**/
.entry,
.inline-toolbar.toolbar,
.inline-toolbar.toolbar .button,
.dynamic-notebook .button,
.notebook tab .button {
    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (alpha (#000, 0.10)),
                    to (alpha (#000, 0.06)));
}

/* Outer Shadow */

.cd  {
        -unico-outer-stroke-gradient:               -gtk-gradient (linear,
                                                    left top, left bottom,
                                                    from (alpha (#000, 0.00)),
                                                    to (alpha (#000, 0.08)));
}


/**********
* Troughs *
**********/

/* Interactive Trough */

.entry {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_base_color, 0.97)),
                                     to (@theme_base_color));
    border-top-color: shade (@theme_bg_color, 0.64);
    border-right-color: shade (@theme_bg_color, 0.76);
    border-bottom-color: shade (@theme_bg_color, 0.82);
    border-left-color: shade (@theme_bg_color, 0.76);
    border-radius: 2px;
    border-style: solid;
    padding: 3px 5px 3px 5px;

    color: @theme_text_color;

    -unico-border-gradient: none;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (shade (@theme_bg_color, 0.05), 0.04)),
                                                 to (alpha (shade (@theme_bg_color, 0.05), 0.02)));
    -unico-inner-stroke-width: 1;
}

.entry:backdrop {
}


/* Insensitive Trough */

.entry:insensitive {
    background-image: -gtk-gradient (linear,
			         left top,
			         left bottom,
			         from (alpha (#000, 0.10)),
                     color-stop (0.20, alpha (#000, 0.00)),
			         to (alpha (#000, 0.00)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (@bg_color, 0.67)),
                     to (shade (@bg_color, 0.74)));

    color: @insensitive_color;
}

.entry:focus {
    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                        from (shade (#4c93de, 0.75)),
                                        to (shade (#4c93de, 0.8)));
    -unico-inner-stroke-color: #c9e2fc;
    -unico-inner-stroke-gradient: none;
}

/**************
 * ComboBoxes *
 **************/

GtkComboBox .separator {
    border-color: @transparent;

    -unico-border-gradient: none;
    -unico-inner-stroke-color: @transparent;
    -unico-inner-stroke-gradient: none;
}

/*GtkComboBox.combobox-entry .entry,
GtkComboBox.combobox-entry .entry:prelight {
    border-radius: 2.5 0 0 2.5;
    border-width: 1 0 1 1;
}

GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:prelight {
    border-radius: 0 2.5 2.5 0;
    border-width: 1 1 1 0;
    padding: 2 3;
}
*/

/********
* Entry *
********/

*.entry {
    padding: 5px;
    -GtkEntry-progress-border: 0;
}

*.security_trusted {

    color: #0c4d0f;

    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (#7aea82),
                    color-stop (0.20, #a7f1ac),
                    to (#baf4bd));

    -unico-border-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (#669664),
                    to (#7eb47d));
}

*.security_unknown {
    background-image: -gtk-gradient (linear,
			         left top,
			         left bottom,
			         from (shade (@warning_color, 1.12)),
                     color-stop (0.20, shade (@warning_color, 1.24)),
			         to (shade (@warning_color, 1.30))); 
}


.entry.progressbar {

    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (shade (@selected_bg_color, 1.23)),
                    to (shade (@selected_bg_color, 1.37)));

    -unico-border-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (shade (@selected_bg_color, 1.00)),
                    to (shade (@selected_bg_color, 1.00)));

    -unico-outer-stroke-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (@transparent),
                    to (@transparent));
}


/*****************
 * Notebooks and *
 * Tabs          *
 *****************/
/***
.dynamic-notebook {
    background-image: -gtk-gradient (linear,
            left top,
            left bottom,
            from (shade (@bg_color, 0.65)),
            to (shade (@bg_color, 0.76)));
}

.dynamic-notebook .notebook {
    border-width: 1px 0 0 0;
    -unico-outer-stroke-style: none;
    -unico-inner-stroke-style: none;

    border-radius: 0;

    -GtkNotebook-tab-overlap: 4px;
    -GtkNotebook-initial-gap: 10px;

}

.dynamic-notebook .notebook tab {
    padding: 2px 3px 0 3px;

    color: alpha (@text_color, 0.80);

    border-radius: 0;

    background-image: none;
    background-color: @transparent;

    border-width: 0 1px 0 0;
    -unico-inner-stroke-width: 0 1px 0 0;
    -unico-outer-stroke-width: 0;
    -unico-border-gradient: -gtk-gradient (linear,
        left top, left bottom,
        from (@transparent),
        to (alpha (#000, 0.20)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear,
        left top, left bottom,
        from (@transparent),
        to (alpha (#fff, 0.20)));

}

.dynamic-notebook .notebook tab:nth-child(first) {
    border-width: 0 1px 0 1px;
    -unico-inner-stroke-width: 0 1px 0 1px;
}

.dynamic-notebook .notebook tab:active {
    background-image: -gtk-gradient (linear,
            left top,
            left bottom,
            from (shade (@bg_color, 1.06)),
            to (@bg_color));

    -unico-border-gradient: none;
    border-color: shade (@bg_color, 0.50);

    color: @text_color;
    border-radius: 4px;

    border-width: 1px;
    -unico-inner-stroke-width: 1px;
    -unico-outer-stroke-width: 1px;

    -unico-inner-stroke-color: alpha (#fff, 0.30);
}
***/
.notebook {
    -GtkNotebook-tab-overlap: 3;
    border: 1px solid #b2b2b2;
    border-radius: 2px;
    background-color: #fff;
}

.notebook tab:active {
    background-color: #fff;
}

.notebook tab.top:active {
    padding: 2px 0 0 0;
}

.notebook tab.right:active {
    padding: 0 2px 0 0;
}

.notebook tab.bottom:active {
    padding: 0 0 2px 0;
}

.notebook tab.left:active {
    padding: 0 0 0 2px;
}
/***
.dynamic-notebook .button:hover,
.dynamic-notebook .button:hover:active,
.dynamic-notebook .notebook .button,
.dynamic-notebook .notebook .button:hover,
.dynamic-notebook .notebook .button:hover:active,
***/
.notebook tab .button:hover,
.notebook tab .button:hover:active {

    padding: 0;

    -GtkButton-inner-border: 0;
    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 0;

    background-image:   none;
    background-color:   alpha (#000, 0.02);

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (alpha (#000, 0.29)),
                     to (alpha (#000, 0.32)));
}

/***
.dynamic-notebook .button:hover:active,
.dynamic-notebook .notebook .button:hover:active,
***/
.notebook tab .button:hover:active {
    background-color:   alpha (#000, 0.10);
}

.pane-separator,
.pane-separator:prelight,
.pane-separator:selected {

	-unico-centroid-texture: url("assets/pane-handle.svg");
    
    background-image: -gtk-gradient (linear,
				     left top,
				     right top,
				     from (shade (@base_color, 0.55)),
                     color-stop (0.15, @base_color),
                     color-stop (0.85, shade (@base_color, 0.88)),
				     to (shade (@base_color, 0.55)));
}

.pane-separator.vertical,
.pane-separator.vertical:prelight,
.pane-separator.vertical:selected {
    
    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
				     from (shade (@base_color, 0.55)),
                     color-stop (0.15, @base_color),
                     color-stop (0.85, shade (@base_color, 0.88)),
				     to (shade (@base_color, 0.55)));
}


/***
.button:active:insensitive {

    background-image: -gtk-gradient (linear,
			         left top,
			         left bottom,
			         from (shade (@bg_color, 0.85)),
                     color-stop (0.20, shade (@bg_color, 0.94)),
			         to (@bg_color));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (@bg_color, 0.67)),
                     to (shade (@bg_color, 0.74)));

    -unico-outer-stroke-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (@transparent),
                     color-stop (0.75, @transparent),
                     to (alpha (#fff, 0.40)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (alpha (#000, 0.10)),
                    to (alpha (#000, 0.06)));

}
***/

GtkViewport,
GtkIconView {
}

GtkTreeView {
    -GtkTreeView-vertical-separator: 0;
}
GtkTreeView.dnd {
    border-color: shade (@selected_bg_color, 1.12);
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
}

GtkTreeView row:nth-child(even) {
	background-color: @base_color;
}

GtkTreeView row:nth-child(odd) {
	background-color: shade (@base_color, 0.96);
}

GtkTreeView.separator {
    padding: 0;
    margin: 0;
}

GtkTreeView .entry {
}

column-header {
}

column-header:nth-child(first) .button,
column-header:nth-child(first) .button:backdrop {
    border-width: 1px 1px 1px 1px;
}

column-header .button,
column-header .button:backdrop {

    font: bold condensed;

    padding: 1px 2px 1px 2px;

	border-width: 1px 1px 1px 0;

    -unico-outer-stroke-style: none;
    -GtkButton-inner-border: 2px;
/**
    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (shade (@base_color, 0.88)),
                    to (@base_color));
        -unico-border-gradient: -gtk-gradient (linear,
        left top, left bottom,
        from (shade (@base_color, 0.88)),
        to (shade (@base_color, 0.70)));
**/
}

column-header .button:hover {
    color: @text_color;

    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (shade (@base_color, 0.90)),
                                     color-stop (0.02, shade (@base_color, 0.80)),
                                     color-stop (0.96, @base_color),
                                     color-stop (0.99, shade (@base_color, 0.50)),
                    to (shade (@base_color, 0.45)));
}

.view:selected,
.view:selected:focused {
    border-width: 0 1px 0 1px;
    border-color: transparent;
    background-color: #d9f3ff;
    color: @text_color;
}

.view:selected:backdrop,
.view:selected:focused:backdrop {
    border-width: 0 1px 0 1px;
    border-color: transparent;
    background-color: #d9f3ff;
    color: @text_color;
}

row:selected,
row:selected:focused {
    background-color: @bg_color;
}

row:selected:backdrop,
row:selected:focused:backdrop {
    background-color: @bg_color;
}

.cell {
    -GtkWidget-focus-line-width: 0;

    background-color: @base_color;
    border-radius: 0;
    border-width: 0;
}

.check,
.radio,
.check:insensitive,
.radio:insensitive {
    background-color: transparent;
    border-style: none;
    margin: 1px 0;
}

GtkCheckButton:hover,
GtkCheckButton:active:hover,
GtkCheckButton:selected,
GtkCheckButton:selected:focus {
    background-color: transparent;
}

ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
    -EogScrollView-shadow-type: none;
}

@import url("button.css");
@import url("menu.css");
@import url("progressbar.css");
@import url("sidebar.css");
@import url("scale.css");
@import url("scrollbar.css");
@import url("toolbar.css");
@import url("content-view.css");
@import url("popover.css");
@import url("albumlistview.css");
@import url("notify.css");
@import url("apps/nautilus.css");
@import url("checkradiobutton.css");
@import url("switch.css");


/**********************
 * Remove Backgrounds *
 *********************/
 
GtkDrawingArea,
GtkImage,
GtkImage:insensitive,
GtkImage:selected,
GtkDrawingArea:backdrop,
GtkImage:backdrop,
GtkImage:insensitive:backdrop,
GtkImage:selected:backdrop {
    background-color: @transparent;
}

*:backdrop {
    color: alpha (@text_color, 0.8);
}
