/*********
 * Menus *
 *********/

* {
    -GtkMenu-vertical-offset: 2;
    -GtkMenu-horizontal-offset: 2;
    -GtkMenuItem-arrow-scaling: 0.6;
    -GtkMenuItem-width-chars: 15;
}

/* this controls the general appearance of the menubar */
.menubar {
    background: url("assets/menubg.png") repeat-x;
    border-width: 0;
    border-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #aeaeae;

    -GtkWidget-window-dragging: true;
    -GtkMenuBar-internal-padding: 2 0 2 0;
}

.menu {
    background-color: #f2fbff;
    border: 1px solid alpha(#000, 0.2);
    color: @text_color;
}

.menubar.menu {
    border-width: 0 1px 1px 1px;
}

.menu.button {
    /***
    border:5px solid #7fa182;
    background-image: none;
    ***/
}

.menu.button:active,
.menu.button:selected,
.menu.button:hover {
    color: @text_color;
}

.menuitem:active,
.menuitem:selected,
.menuitem:hover {
    border-width: 0 1px 0 1px;
    border-color: rgba(255, 255, 255, 0.0);
    background: #cceeff;
    color: @text_color;
}

.menubar.menuitem:active,
.menubar.menuitem:selected,
.menubar.menuitem:hover {
    border-style: solid;
    border-color: #c2c9cc;
    border-width: 1px 1px 0 1px;
    background: #f2fbff;
    color: @text_color;
}

.menu .menuitem:active,
.menu .menuitem:selected,
.menu .menuitem:hover {
    color: @text_color;
}

.menu GtkLabel:hover,
.menu GtkLabel:focus,
.menu GtkLabel:active,
.menu GtkLabel:selected{
    background-color: #cceeff;
}

.menubar .menuitem GtkLabel:backdrop{
    background: url("assets/menubg.png") repeat-x;
}
