/*********
 * Menus *
 *********/


* {
    -GtkMenu-vertical-offset: 2;
    -GtkMenu-horizontal-offset: 2;
    -GtkMenuItem-arrow-scaling: 0.6;
    -GtkMenuItem-width-chars: 15;
}

/* this controls the general appearance of the menubar */
.menubar {
    background-image: -gtk-gradient (linear,
            left top,
            left bottom,
            from (@menu_bg_top_color),
            to (@menu_bg_bottom_color)); 
    border-style: solid;
    border-width: 0 0 1px 0;
    border-bottom-color: @insensitive_color;

    -GtkWidget-window-dragging: true;
    -GtkMenuBar-internal-padding: 2 0 2 0;
}

.menuitem {
    background-color: @menuitem_bg_color;
    color: @text_color;
}
.menu{
    border: 1px solid alpha(#000, 0.2);
}

.menubar.menu {
    border-width: 0 1px 1px 1px;
}

.menubar>.menuitem {
    border-width: 1px 1px 0px 1px;
    background: url("assets/menubg.png") repeat-x;
    color: @text_color;
    font-size: 10.5px;
}
.menubar>.menuitem:active,
.menubar>.menuitem:selected,
.menubar>.menuitem:hover {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #c2c9cc;
    background: #f2fbff;
    color: @text_color;
}

.menu .menuitem:hover {
    background-color: @hover_color;
    color: @text_color;
}
.menuitem.separator{
    -GtkMenuItem-horizontal-padding: 1px;
    -GtkWidget-separator-height: -1px;
    background-image: -gtk-gradient(linear,
        left top, right top,
        from(transparent),
        color-stop(0.3, rgba(0,0,0,0.1)),
        color-stop(0.5, rgba(0,0,0,0.2)),
        color-stop(0.7, rgba(0,0,0,0.1)),
        to(transparent)
    );
}

.menuitem {
    font-size: 10.5px;
}
