/*********
 * Menus *
 *********/

* {
    -GtkMenu-vertical-offset: 2;
    -GtkMenu-horizontal-offset: 2;
    -GtkMenuItem-arrow-scaling: 0.6;
    -GtkMenuItem-width-chars: 15;
}

/* this controls the general appearance of the menubar */
.menubar {
    background: url("assets/menubg.png") repeat-x;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-bottom-color: @insensitive_color;

    -GtkWidget-window-dragging: true;
    -GtkMenuBar-internal-padding: 2 0 2 0;
}

.menu {
    background-color: @menu_bg_color;
    border: 1px solid alpha(#000, 0.2);
    color: @text_color;
}

.menubar.menu {
    border-width: 0 1px 1px 1px;
}

.menubar>.menuitem {
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: @insensitive_color;
    background-color: @menu_bg_color;
    color: @text_color;
}
.menubar.menuitem:active,
.menubar.menuitem:selected,
.menubar.menuitem:hover {
    border-style: solid;
    border-color: #c2c9cc;
    border-width: 1px 1px 0 1px;
    background: #f2fbff;
    color: @text_color;
}

.menu .menuitem:hover {
    background-color: @hover_color;
    color: @text_color;
}
