/****************
 * Progress bar *
 ****************/

GtkProgressBar {
    -GtkProgressBar-min-horizontal-bar-height: 14;
    -GtkProgressBar-min-vertical-bar-width: 14;
}

GtkProgressBar.trough{
    border: 1px solid rgba(255, 255, 255, 0.0);
    border-radius: 2px;
    -unico-inner-stroke-width: 1px;
    -unico-inner-stroke-color: #a6a6a6;
    background-color: #dee0e1;
}



.progressbar {
    border: 1px solid #108cd2;
    border-radius: 2px;
    background-color: #31abee;
}

