/**************
 * Scrollbars *
 **************/

.scrollbar {
    -GtkRange-slider-width: 10;
    -GtkRange-stepper-size: 0;
    -GtkRange-stepper-spacing: 0;
    -GtkRange-trough-border: 0;

    -GtkScrollbar-min-slider-length: 30;
    background-color: rgba(255, 255, 255, 0.0)
}

.scrollbar.trough {
    background-color: rgba(255, 255, 255, 0.0);
    border-width: 0;
    border-radius: 0;
}

.scrollbar.slider{
    border: 1px solid #b0cad7;
    border-radius: 2px;
    background-color: #e5f7ff;
}

.scrollbar.slider:prelight {
    background-color: #b9e7fb;
}
