/**************
 * Scrollbars *
 **************/

.scrollbar {
    -GtkRange-slider-width: 7;
    -GtkRange-stepper-size: 0;
    -GtkRange-stepper-spacing: 1;
    -GtkRange-trough-border: 0;

    -GtkScrollbar-min-slider-length: 30;
}

.scrollbar.trough {
    background-color: rgba(255, 255, 255, 1.0);
    border-width: 0;
    border-radius: 0;
}

.scrollbar.slider{
    border-width: 0;
    background-color: #5ebceb;
    border-radius: 0;
}
.scrollbar.slider:prelight,
.scrollbar.button {
    /*border-width: 0;*/
    /*background-color:         alpha (#000, 0.4);*/
    /*border-radius: 10px;*/
    border-width: 0;
    background-color: #5ebceb;
    -unico-inner-stroke-color:  rgba (0, 0, 0, 0);
    -unico-outer-stroke-color:  alpha (#FFF, 0.4);
    border-radius: 0;
    -GtkRange-slider-width: 4;
}

.scrollbar.slider:insensitive {
    -GtkRange-slider-width: 0;
}

.scrollbar.trough:insensitive {
    -GtkRange-trough-border: 0;
}

GtkScrolledWindow.frame {
    border-style: solid;
    border-width: 0px;
    border-radius: 0px;
    padding: 0;
}
