.sidebar {
    background-color: @bg_color;
    border-radius: 0;
    color: @text_color;
}

.sidebar:backdrop {
    background-color: shade (@bg_color, 1.04);
}

.sidebar {
    -GtkTreeView-horizontal-separator: 1;
    -GtkTreeView-vertical-separator: 1;
}
.sidebar-pane-separator,
.sidebar-pane-separator:prelight,
.sidebar-pane-separator:selected,
VarkaWidgetsHCollapsiblePaned,
VarkaWidgetsHCollapsiblePaned.pane-separator,
VarkaWidgetsHCollapsiblePaned.pane-separator:prelight,
VarkaWidgetsHCollapsiblePaned.pane-separator:selected {

    -unico-centroid-texture: none;
    border-width: 0;
    -GtkPaned-handle-size: 1;
    background-image: none;
    background-color: shade (@bg_color, 0.75);
    
    border-color: shade (@bg_color, 0.75);
}
