/*************************
 * Check and Radio items *
 *************************/

/**
.check,
.check:hover,
.radio,
.radio:hover,
.check:active,
.check:active:hover,
.radio:active,
.radio:active:hover,
.check:insensitive,
.radio:insensitive {
    background-color: transparent;
    border-style: none;
}
***/
GtkCheckButton:hover,
GtkCheckButton:active:hover,
GtkCheckButton:selected,
GtkCheckButton:selected:focus {
    background-color: transparent;
}


.check,
.check row:selected,
.check row:selected:focused {
    background-image: url("assets/checkbox-unchecked.png");
    background-color: transparent;
    background-repeat: no-repeat;
    
}
.check:backdrop,
.check row:selected:backdrop,
.check row:selected:focused:backdrop {
    background-image: url("assets/checkbox-unchecked-backdrop.png");
    background-color: transparent;
    background-repeat: no-repeat;
    
}
.check:hover,
.check row:selected:hover,
.check row:selected:focused:hover {
    background-image: url("assets/checkbox-unchecked-hover.png");
    background-color: transparent;
    background-repeat: no-repeat;
    
}

.check:insensitive,
.check row:selected:insensitive,
.check row:selected:focused:insensitive {
    background-image: url("assets/checkbox-unchecked-insensitive.png");
    background-color: transparent;
    background-repeat: no-repeat;
    
}

.check:active,
.check row:selected:active,
.check row:selected:focused:active {
    background-image: url("assets/checkbox-checked.png");
    background-color: transparent;
    background-repeat: no-repeat;
    
}
.check:active:backdrop,
.check row:selected:active:backdrop,
.check row:selected:focused:active:backdrop {
    background-image: url("assets/checkbox-checked-backdrop.png");
    background-color: transparent;
    background-repeat: no-repeat;
    
}

.check:active:hover,
.check row:selected:active:hover,
.check row:selected:focused:active:hover {
    background-image: url("assets/checkbox-checked-hover.png");
    background-color: transparent;
    background-repeat: no-repeat;
    
}


/**
.check:active,
.check row:selected:active,
.check row:selected:focused:active {
    background-image: url("assets/checkbox-checked-pressed.png");
}
**/

.check:active:insensitive,
.check row:selected:active:insensitive,
.check row:selected:focused:active:insensitive {
    background-image: url("assets/checkbox-checked-insensitive.png");
    background-color: transparent;
    background-repeat: no-repeat;
    
}

.check:inconsistent,
.check row:selected:inconsistent,
.check row:selected:focused:inconsistent {
    background-image: url("assets/checkbox-mixed.png");
    background-color: transparent;
    background-repeat: no-repeat;
}
.check:inconsistent:backdrop,
.check row:selected:inconsistent:backdrop,
.check row:selected:focused:inconsistent:backdrop {
    background-image: url("assets/checkbox-mixed-backdrop.png");
    background-color: transparent;
    background-repeat: no-repeat;
}
.check:inconsistent:active:hover,
.check row:selected:active:hover,
.check row:selected:focused:active:hover {
    background-image: url("assets/checkbox-checked-hover.png");
    background-color: transparent;
    background-repeat: no-repeat;
}

.check:inconsistent:insensitive,
.check row:selected:inconsistent:insensitive,
.check row:selected:focused:inconsistent:insensitive {
    background-image: url("assets/checkbox-mixed-insensitive.png");
background-color: transparent;
    background-repeat: no-repeat;
}

.radio,
.radio row:selected,
.radio row:selected:focused {
    background-image: url("assets/radio-unselected.png");
    background-color: transparent;
    background-repeat: no-repeat;
}
.radio:hover,
.radio row:selected:hover,
.radio row:selected:focused:hover {
    background-image: url("assets/radio-unselected-hover.png");
    background-color: transparent;
    background-repeat: no-repeat;

}

.radio:insensitive,
.radio row:selected:insensitive,
.radio row:selected:focused:insensitive {
    background-image: url("assets/radio-unselected-insensitive.png");
    background-color: transparent;
    background-repeat: no-repeat;
}

.radio:active,
.radio row:selected:active,
.radio row:selected:focused:active {
	background-image: url("assets/radio-selected.png");
	background-color: transparent;
    background-repeat: no-repeat;
}

.radio:active:backdrop,
.radio row:selected:active:backdrop,
.radio row:selected:focused:active:backdrop {
	background-image: url("assets/radio-selected-backdrop.png");
	background-color: transparent;
    background-repeat: no-repeat;
}
.radio:active:hover,
.radio row:selected:active:hover,
.radio row:selected:focused:active:hover {
	background-image: url("assets/radio-selected-hover.png");
	background-color: transparent;
    background-repeat: no-repeat;
}

.radio:active:insensitive,
.radio row:selected:active:insensitive,
.radio row:selected:focused:active:insensitive {
    background-image: url("assets/radio-selected-insensitive.png");
    background-color: transparent;
    background-repeat: no-repeat;
}

.radio:inconsistent,
.radio row:selected:inconsistent,
.radio row:selected:focused:inconsistent {
    background-image: url("assets/radio-mixed.png");
    background-color: transparent;
    background-repeat: no-repeat;
}

.radio:inconsistent:backdrop,
.radio row:selected:inconsistent:backdrop,
.radio row:selected:focused:inconsistent:backdrop {
    background-image: url("assets/radio-mixed-backdrop.png");
    background-color: transparent;
    background-repeat: no-repeat;
}
.radio:inconsistent:active:hover,
.radio row:selected:inconsistent:active:hover,

.radio row:selected:focused:inconsistent:active:hover {
    background-image: url("assets/radio-mixed-hover.png");
    background-color: transparent;
    background-repeat: no-repeat;
}

.radio:inconsistent:insensitive,
.radio row:selected:inconsistent:insensitive,
.radio row:selected:focused:inconsistent:insensitive {

    background-image: url("assets/radio-mixed-insensitive.png");


    background-color: transparent;
    background-repeat: no-repeat;
}
.menuitem.check:active {
    background-image: url("assets/menuitem-checkbox-checked.png");
    background-repeat: no-repeat;
    background-color: transparent;
}

.menuitem.check:active:insensitive {
    background-image: url("assets/menuitem-checkbox-checked-insensitive.png");
    background-repeat: no-repeat;
    background-color: transparent;
    
}

.menuitem.check:inconsistent,
.menuitem.radio:inconsistent {
    background-image: url("assets/menuitem-checkbox-mixed.png");
    background-repeat: no-repeat;
    background-color: transparent;
}

.menuitem.check:inconsistent:insensitive,
.menuitem.radio:inconsistent:insensitive {
    background-image: url("assets/menuitem-checkbox-mixed-insensitive.png");
    background-repeat: no-repeat;
    background-color: transparent;
}

.menuitem.radio:active {
    background-image: url("assets/menuitem-radio-checked.png");
    background-repeat: no-repeat;
    background-color: transparent;
}

.menuitem.radio:active:insensitive {
    background-image: url("assets/menuitem-radio-checked-insensitive.png");
    background-repeat: no-repeat;
    background-color: transparent;
}
/*
.sidebar .radio:active,
.sidebar .radio:active:focused,
.sidebar .radio:active:prelight {
    background-image: url("assets/sidebar-radio-checked.png");
}

.sidebar .radio:active,
.sidebar .radio:active:focused,
.sidebar .radio:active:prelight {
    background-image: url("assets/sidebar-radio-checked.png");
}

.sidebar .radio:prelight {
    background-image: url("assets/sidebar-radio-prelight.png");
}

.sidebar .radio:active:selected,
.sidebar .radio:active:selected:focused {
    background-image: url("assets/sidebar-radio-selected.png");
}

.sidebar .radio:selected:prelight,
.sidebar .radio:selected:focused {
    background-image: url("assets/sidebar-radio-selected-prelight.png");    
}

*/
.primary-toolbar GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button,
.primary-toolbar GtkComboBox.combobox-entry .button:nth-child(last),
GtkComboBox.combobox-entry .button:nth-child(last) {

}

.primary-toolbar GtkComboBox.combobox-entry .button:active,
.primary-toolbar GtkComboBox.combobox-entry .button:hover:active,
GtkComboBox.combobox-entry .button:active,
GtkComboBox.combobox-entry .button:hover:active,
.primary-toolbar GtkComboBox.combobox-entry .button:active:nth-child(last),
.primary-toolbar GtkComboBox.combobox-entry .button:hover:active:nth-child(last),
GtkComboBox.combobox-entry .button:active:nth-child(last),
GtkComboBox.combobox-entry .button:hover:active:nth-child(last) {
   
}

/* for RTL languages */
.primary-toolbar GtkComboBox.combobox-entry .button:nth-child(first),
GtkComboBox.combobox-entry .button:nth-child(first) {

}

.primary-toolbar GtkComboBox.combobox-entry .button:active:nth-child(first),
.primary-toolbar GtkComboBox.combobox-entry .button:hover:active:nth-child(first),
GtkComboBox.combobox-entry .button:active:nth-child(first),
GtkComboBox.combobox-entry .button:hover:active:nth-child(first) {

}

GtkScale.trough,
GtkScale.trough.horizontal {

}

GtkScale.trough.vertical {

}


GtkScale.progressbar.horizontal {
    
}

GtkScale.progressbar.vertical {
    
}

GtkScale.slider,
GtkScale.slider.horizontal,
GtkScale.slider.horizontal:hover {
    background-image: url("assets/scale-slider.png");
    background-repeat: no-repeat;
}

GtkScale.slider:insensitive,
GtkScale.slider.horizontal:insensitive {
    background-image: url("assets/scale-slider-insensitive-hor.svg");
    background-repeat: no-repeat;
}

GtkScale.slider.vertical {
    background-image: url("assets/scale-slider.png");
    background-repeat: no-repeat;
}

GtkScale.slider.vertical:insensitive {
    background-image: url("assets/scale-slider-insensitive-ver.svg");
    background-repeat: no-repeat;
}

GtkScale.scale-has-marks-above.slider.horizontal,
GtkScale.scale-has-marks-above.slider.horizontal:hover {
    background-image: url("assets/scale-slider-marks-above-horizontal.svg");
    background-repeat: no-repeat;
}

GtkScale.scale-has-marks-above.slider.horizontal:insensitive {
    background-image: url("assets/scale-slider-marks-above-horizontal-insensitive.svg");
    background-repeat: no-repeat;
}

GtkScale.scale-has-marks-above.slider.vertical {
    background-image: url("assets/scale-slider-marks-above-vertical.svg");
    background-repeat: no-repeat;
}

GtkScale.scale-has-marks-above.slider.vertical:insensitive {
    background-image: url("assets/scale-slider-marks-above-vertical-insensitive.svg");
    background-repeat: no-repeat;
}

GtkScale.scale-has-marks-below.slider.horizontal,
GtkScale.scale-has-marks-below.slider.horizontal:hover {
    background-image: url("assets/scale-slider-marks-below-horizontal.svg");
    background-repeat: no-repeat;
}

GtkScale.scale-has-marks-below.slider.horizontal:insensitive {
    background-image: url("assets/scale-slider-marks-below-horizontal-insensitive.svg");
    background-repeat: no-repeat;
}

GtkScale.scale-has-marks-below.slider.vertical {
    background-image: url("assets/scale-slider-marks-below-vertical.svg");
    background-repeat: no-repeat;
}

GtkScale.scale-has-marks-below.slider.vertical:insensitive {
    background-image: url("assets/scale-slider-marks-below-vertical-insensitive.svg");
    background-repeat: no-repeat;
}


/**********
 * switch *
 **********/
GtkSwitch {
    -GtkWidget-focus-line-width: 0;
    border-radius: 8px;
    padding: 0;
}

.menu GtkSwitch.trough,
.toolbar.menubar GtkSwitch.trough,
.primary-toolbar .toolbar GtkSwitch.trough,
.primary-toolbar.toolbar GtkSwitch.trough,
GtkSwitch.trough,
GtkSwitch.trough:backdrop {
    border: none;
    border-image: none;
    background: none;
    color: transparent;
    box-shadow: none;
    background-image: url("assets/switch-off.png");
    background-size: 56px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    text-shadow: none;
}

GtkSwitch.trough {
    background-image: url("assets/switch-off.png");
    background-repeat: no-repeat;
}
GtkSwitch.trough:backdrop {
    background-image: url("assets/switch-off-backdrop.png");
    background-repeat: no-repeat;
    }

GtkSwitch.trough:active {
    background-image: url("assets/switch-on.png");
    background-repeat: no-repeat;
}
GtkSwitch.trough:active:backdrop {
    background-image: url("assets/switch-on-backdrop.png");
    background-repeat: no-repeat;
}

GtkSwitch.trough:insensitive {
    background-image: url("assets/switch-off-disabled.png");
    background-repeat: no-repeat;
}

GtkSwitch.trough:active:insensitive {
    background-image: url("assets/switch-on-disabled.png");
    background-repeat: no-repeat;
}

.toolbar.menubar GtkSwitch.trough,
.primary-toolbar .toolbar GtkSwitch.trough,
.primary-toolbar.toolbar GtkSwitch.trough {
    background-image: url("assets/switch-dark-off.png");
    background-repeat: no-repeat;
}

.toolbar.menubar GtkSwitch.trough:active,
.primary-toolbar .toolbar GtkSwitch.trough:active,
.primary-toolbar.toolbar GtkSwitch.trough:active {
    background-image: url("assets/switch-dark-on.png");
    background-repeat: no-repeat;
}

.toolbar.menubar GtkSwitch.trough:insensitive,
.primary-toolbar .toolbar GtkSwitch.trough:insensitive,
.primary-toolbar.toolbar GtkSwitch.trough:insensitive {
    background-image: url("assets/switch-dark-off-disabled.png");
    background-repeat: no-repeat;
}

.toolbar.menubar GtkSwitch.trough:active:insensitive,
.primary-toolbar .toolbar GtkSwitch.trough:active:insensitive,
.primary-toolbar.toolbar GtkSwitch.trough:active:insensitive {
    background-image: url("assets/switch-dark-on-disabled.png");
    background-repeat: no-repeat;
}

GtkSwitch.slider {
    border: none;
    border-image: none;
    background: none;
    color: transparent;
    box-shadow: none;
}
