/* Default color scheme */
@define-color base_color #ffffff;
@define-color bg_color #fdfdfd;
@define-color text_color #282828;
@define-color fg_color #242424;

@define-color selected_bg #417FFF;
@define-color selected_fg_color #000000;
@define-color tooltip_bg alpha(#000000,0.8);
@define-color tooltip_fg_color #ffffff;

/* Colormap actually used by the theme, to be overridden in other css files */
@define-color theme_shadow_color alpha(#fff, 0.3);
@define-color text_shadow alpha(#fff, 0.4);
@define-color dark_text_shadow alpha(#000, 0.50);

/**********************描边**************************************************/
@define-color border shade(@base_color,0.8);
@define-color border_dark shade(@toolbar, 0.5);


@define-color backdrop_fg_color #878787;
/***************工具栏背景颜色***********/
@define-color toolbar #252627;
@define-color toolbar_text #b4b4b4;

@define-color active_color #01bdff;



@define-color tab_active alpha(#92c3ed,0.5);

@define-color menu_line_dark_color shade(@toolbar, 0.78);
@define-color menu_line_light_color shade(@toolbar, 1.12);
/**************************************************************************/

@define-color theme_tab_active1 shade(@base_color, 0.80);
@define-color theme_tab_active2 shade(@base_color, 1.00);

@define-color press_button shade(@toolbar, 0.9);
@define-color button_raised_linked_shadow alpha(@base_color, 0.70);

@define-color link_color #0068d9;
@define-color frame_color #808080;
@define-color inactive_frame_color #bbbbbb;
@define-color warning_color #f57900;
@define-color error_color #cc0000;
@define-color success_color #4e9a06;

@define-color info_fg_color rgb (181, 171, 156); 
@define-color info_bg_color rgb (252, 252, 189);
@define-color warning_fg_color rgb (173, 120, 41);
@define-color warning_bg_color rgb (250, 173, 61);
@define-color question_fg_color rgb (97, 122, 214);
@define-color question_bg_color rgb (138, 173, 212);
@define-color error_fg_color rgb (106, 18, 18);
@define-color error_bg_color #f0925a;

@define-color os_chrome_bg_color @toolbar;
@define-color os_chrome_fg_color @toolbar_text; 

@define-color os_chrome_selected_bg_color @selected_bg;
@define-color os_chrome_selected_fg_color @selected_fg_color;

@define-color chrome_bg_color @bg_color;
@define-color chrome_fg_color @fg_color;

@define-color entry_text_color @text_color;
@define-color focused_entry_border @active_color;
@define-color focused_entry_outer  @active_color;

@define-color entry_text_dark_color @text_color;
@define-color entry_bg_dark_color shade(@base_color, 0.88);
@define-color focused_dark_entry_border shade(mix(@bg_color, @selected_bg, 0.50), 0.45);
@define-color focused_dark_entry_outer @focused_entry_outer;

@define-color focused_entry_inset alpha (#d7e4f1, 0.50);

/* @define-color sidebar_background shade(#E1E5E8, 0.95); */
@define-color sidebar_background #f5f7fa;
@define-color sidebar_icon       #4d4d4d;
@define-color sidebar_selected_bg @toolbar;
@define-color sidebar_fg_color @text_color;

@define-color button_base shade(@base_color,0.95);
@define-color button_gradient1 #FDFDFD;
@define-color button_gradient2 #F9F9F9;
@define-color button_gradient3 #F4F4F4;
@define-color button_gradient4 #FDFDFD;
@define-color button_bg_active shade(@base_color, 1.0);
@define-color button_border alpha(#000000,0.4);
@define-color button_border_active shade(@button_border,0.9);

@define-color insensitive_bg_color shade(@bg_color, 0.93);
@define-color insensitive_fg_color shade(@bg_color, 0.70);
@define-color insensitive_border_color shade(@bg_color, 0.80);

@define-color trough_bg_color_a shade (@bg_color, 0.88);
@define-color trough_bg_color_b shade (@bg_color, 0.95);

@define-color internal_element_color #646464;
@define-color internal_element_prelight @text_color;
@define-color internal_element_insensitive shade (@internal_element_color, 1.4);

@define-color scale_fill shade(@button_bg_active, 1.00);
@define-color scale_border_a @internal_element_color;
@define-color scale_border_b shade (@internal_element_color, 1.25);

@define-color progressbar_fill_a @button_bg_active;
@define-color progressbar_fill_b shade(mix(@button_bg_active, green, 0.10), 1.10);

@define-color highlighted_border #8f8f8f;
@define-color transparent alpha(#000, 0.0);

@define-color notebook_border shade(@bg_color, 0.75);

/* @define-color toolbar_gradient_base shade (mix(#d5dade, @toolbar, 0.75), 0.92); */
@define-color toolbar_gradient_base shade (@toolbar, 1.00);
@define-color toolbar_fg_color shade(@toolbar_text, 1.00); 
@define-color toolbar_shadow_color @dark_text_shadow;
@define-color toolbar_border_color @border_dark;

@define-color toolbar_active_button_color #909081;

@define-color nautilus_cluebar_color shade(@sidebar_background, 1.00);
@define-color treeview_focus_border  @nautilus_cluebar_color;

@define-color calc_display_fg_color #fff;

@define-color expander_row_selected_color #FFF;
@define-color test #f00;

/*******
 * OSD *
 *******/
@define-color osd_highlight #ffffff;
@define-color osd_lowlight #525252;
@define-color osd_base #212526;

@define-color osd_fg #ededed;
@define-color osd_bg alpha(@osd_base, 0.80);

@define-color osd_bg_backdrop alpha(shade(@osd_base, 1.40), 0.90);

@define-color osd_text_shadow alpha(black, 0.75);

@define-color osd_toolbar_bg_a alpha(@osd_base, 0.80);
@define-color osd_toolbar_bg_b alpha(#101010, 0.80);
@define-color osd_toolbar_bg_c alpha(shade(@osd_base, 1.02), 0.80);

@define-color osd_button_bg_a alpha(@osd_highlight, 0.16);
@define-color osd_button_bg_b alpha(@osd_lowlight, 0.05);
@define-color osd_button_bg_c alpha(@osd_highlight, 0.12);

@define-color osd_button_bg_insensitive alpha(@osd_highlight, 0.25);
@define-color osd_button_bg_insensitive_active alpha(@osd_highlight, 0.16);

@define-color osd_button_bg_hover_a alpha(@osd_highlight, 0.28);
@define-color osd_button_bg_hover_b alpha(@osd_lowlight, 0.14);
@define-color osd_button_bg_hover_c alpha(@osd_highlight, 0.14);

@define-color osd_button_bg_active_a alpha(@osd_lowlight, 0.18);
@define-color osd_button_bg_active_b alpha(@osd_highlight, 0.23);
@define-color osd_button_bg_active_c alpha(@osd_lowlight, 0.17);

@define-color osd_button_bg_backdrop alpha(@osd_highlight, 0.18);
@define-color osd_button_bg_backdrop_hover alpha(@osd_highlight, 0.25);
@define-color osd_button_bg_backdrop_active alpha(@osd_highlight, 0.35);
@define-color osd_button_bg_backdrop_insensitive alpha(@osd_highlight, 0.08);

@define-color osd_button_fg_backdrop shade(@osd_fg, 0.70);
@define-color osd_button_fg_backdrop_active shade(@osd_fg, 0.95);

@define-color osd_button_fg shade(@osd_fg, 0.80);
@define-color osd_button_fg_hover shade(@osd_fg, 0.96);
@define-color osd_button_fg_active shade(@osd_fg, 1.10);
@define-color osd_button_fg_insensitive shade(@osd_fg, 0.70);

@define-color osd_button_border alpha(@osd_highlight, 0.40);
@define-color osd_button_inset shade(@osd_fg, 0.67);
@define-color osd_button_shadow alpha(black, 0.35);

@define-color osd_trough_bg alpha(@osd_button_fg, 0.10);

/* Metacity ¡No modificar! */
@define-color wm_highlight #ffffff;
@define-color wm_title_highlight #ffffff;

@define-color wm_bg_a shade (@bg_color, 1.1);
@define-color wm_bg_b @bg_color;

@define-color wm_button_bg_a shade (@bg_color, 1.0);
@define-color wm_button_bg_b shade (@bg_color, 0.85);
@define-color wm_button_bg_c shade (@bg_color, 0.8);
@define-color wm_button_bg_d shade (@bg_color, 0.9);

@define-color wm_button_bg_hover_a shade (@wm_button_bg_a, 1.1);
@define-color wm_button_bg_hover_b shade (@wm_button_bg_b, 1.1);
@define-color wm_button_bg_hover_c shade (@wm_button_bg_c, 1.1);
@define-color wm_button_bg_hover_d shade (@wm_button_bg_d, 1.1);

@define-color wm_button_bg_active_a shade (@bg_color, 0.7);
@define-color wm_button_bg_active_b shade (@bg_color, 0.9);
@define-color wm_button_bg_active_c shade (@bg_color, 0.9);

@import url("gtk-widgets.css");
@import url("menu.css");
@import url("scrollbar.css");
@import url("sidebar.css");
@import url("gtk-widgets-assets.css");
@import url("unity-greeter.css");


@import url("tabs-mono.css");

@import url("gnome-mdi.css");


@import url("unity.css");

@import url("nautilus.css");

