/*************************
 * menu  
 *
 *************************/

.toolbar .raised .menu,
.menu {
	/* menu contextual */
    background-color: @toolbar;

	
    padding: 1px 1px;
	border-style: solid;
	border-width: 1px;
	border-radius: 0;

	border-color: shade(@toolbar, 0.7);
	border-image: 	none;
	box-shadow: inset 1px 0 alpha(#FFF,0.1),
	            inset -1px 0 alpha(#FFF,0.1),
	            inset 0 1px alpha(#FFF,0.1),
	            inset 0 -1px alpha(#FFF,0.1);
}

.menu:selected {
    background-color: @selected_bg;
}


.menubar .menu.button:hover,
.menubar .menu.button:active,
.menubar .menu.button:active:insensitive,
.menubar .menu.button:insensitive,
.menubar .menu.button,
.primary-toolbar .menu.button:hover,
.primary-toolbar .menu.button:active,
.primary-toolbar .menu.button:active:insensitive,
.primary-toolbar .menu.button:insensitive,
.primary-toolbar .menu.button {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@toolbar),
                                     to (shade(@toolbar, 0.96)));
    border-radius: 0;
    border-style: none;
    border-width: 1px;

    border-image: none;

}

.menu.button {
	padding: 0;
    background-image: none;
    background-color: shade (@toolbar, 0.95);
	color: mix (@toolbar_text, @toolbar, 0.3);
	box-shadow: none;
    border-image: none;
    border-style: none;
}

.menu.button GtkArrow {
    color: @toolbar_text;
}


/***********
 * menubar *
 ***********/
.menubar {
    -GtkWidget-window-dragging: true;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@toolbar, 1.00)),
                                     to   (shade(@toolbar, 1.00)));
    background-repeat: repeat;
    background-position: top left;

    /* linea 3D  (oscura) */
	/***box-shadow: inset  0 -1px @menu_line_dark_color;***/

    /* linea 3D (clara) */
    border-image: none;
    border-width: 0 0 0 0;
    border-style: solid;
    border-radius: 0;
    border-bottom-color:  @menu_line_light_color;

}
.menubar:backdrop {
    -GtkWidget-window-dragging: true;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@toolbar, 1.2)),
                                     to   (shade(@toolbar, 1.2)));
    background-repeat: repeat;
    background-position: top left;

    /* linea 3D  (oscura) */
	/***box-shadow: inset  0 -1px @menu_line_dark_color;***/

    /* linea 3D (clara) */
    border-image: none;
    border-width: 0 0 0 0;
    border-style: solid;
    border-radius: 0;
    border-bottom-color:  @menu_line_light_color;

}
/***************
 * menubaritem 菜单栏激活样式*
 ***************/
.menubar.menuitem  {
    border-radius: 0;
    border-width: 0;
}

.menubar.menuitem:hover,
.menubar .menuitem:hover {
    border-radius: 4px 4px 0 0;
    background-image:-gtk-gradient (linear, left top, left bottom,
                                     from (shade (@toolbar_gradient_base, 1.1)),
                                     to (shade (@toolbar_gradient_base, 1.0)));
    box-shadow: inset  0   1px   alpha(#000,1),
                inset 1px 0    alpha(#000,0.8),
                inset -1px  0  alpha(#000,0.8),
                inset 0  2px     alpha(#FFF,0.1),
                inset 0 -1px     alpha(#FFF,0.05),
                inset 2px 0    alpha(#FFF,0.05),
                inset -2px 0   alpha(#FFF,0.05);

    color: shade (@active_color, 1.0);
    text-shadow: 0 -1px shade (@dark_bg_color, 0.7);
}


/************
 * menuitem 工具栏菜单*
 * menuitem 工具栏菜单*
 * menuitem 工具栏菜单*
 ************/
.menubar .menuitem {
    color: @toolbar_text;
    text-shadow: 0px 1px @dark_text_shadow;
}

.menubar .menuitem:backdrop {
    color: shade(@toolbar_text,0.8);
    text-shadow: 0px 1px @dark_text_shadow;
}

Genericmenuitem .menuitem *,
DbusmenuGtkMenu .menuitem *,
.toolbar .raised .button .menuitem *,
.toolbar.menubar .button .menuitem *,
.toolbar .menuitem *,
.primary-toolbar .menuitem *,
.primary-toolbar .button .menuitem *,
.menu .menuitem *, 
.menuitem {
/* Arregla cambio de altura en menu item nautilus view options */
    padding: 0;
    border-width: 0;

}
/*/gtk程序菜单，例如gedit，不对nautilus生效、*/
Genericmenuitem .menuitem,
DbusmenuGtkMenu .menuitem,
.toolbar .raised .button .menuitem,
.toolbar.menubar .button .menuitem,
.toolbar.menubar .linked .button .menuitem,
.toolbar .menuitem,
.primary-toolbar .menuitem,
.primary-toolbar .button .menuitem,
.menu .menuitem, 
.menuitem {
    -GtkMenuItem-arrow-scaling: 0.6;
    background: transparent;

    padding: 2px 4px;
	border-radius: 0;

    color: @toolbar_text;
    text-shadow: 0px 1px @alpha(#000, 0.30);
}


.toolbar .menuitem GtkLabel,
.primary-toolbar .menuitem GtkLabel,
.toolbar .raised .button .menuitem GtkLabel,
.toolbar.menubar .button .menuitem GtkLabel,
.primary-toolbar .button .menuitem GtkLabel {
/*    color: red;*/
    text-shadow: 0px 1px @alpha(#000, 0.30);

}


GtkTreeMenu.menu {
    background-color: @toolbar;

}

GtkTreeMenu .menuitem {
    border-style: none;
    border-width: 0;
}

/* Workaround for lp:949368 */
.toolbar GtkComboBox .menuitem *, 
GtkComboBox .menuitem * {
    color: shade(@toolbar_text,1.4);
    text-shadow: 0 1px alpha(#000, 0.50);
}

GtkComboBox .menuitem *:hover {
    color: white;
   	text-shadow: 0 1px alpha(#000,0.5);
}
.toolbar .raised .button .menuitem:hover,
.toolbar.menubar .button .menuitem:hover, 
.menu .menuitem:hover,
.menuitem:hover {
	/* contextual menu item-selected */
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (alpha (#417FFF , 1.0)),
                                     to   (alpha (#27a3e3, 1.0)));

	text-shadow: 0 1px alpha(#000,0.3);
    border-radius: 0;
   
}

.toolbar .menuitem *:hover,
.primary-toolbar .toolbar .button .menuitem *:hover,
.primary-toolbar.toolbar .button .menuitem *:hover,
.toolbar .raised .button .menuitem *:hover, /* menuitem opciones visualizacion nautilus  */
.toolbar.menubar .button .menuitem *:hover, 
GtkTreeMenu .menuitem *:active,
GtkTreeMenu .menuitem *:prelight,
.menuitem *:active,
.menuitem *:prelight,
.menuitem *:hover, 
.menuitem:hover,
.menu .menuitem:hover {
    color: #FFF;
   	text-shadow: none;
    
}

.primary-toolbar .menuitem *:insensitive,
.toolbar .raised .button .menuitem *:insensitive,
.toolbar.menubar .button .menuitem *:insensitive,
.primary-toolbar .button .menuitem *:insensitive,
.toolbar .menuitem *:insensitive,
.menuitem:insensitive,
.menuitem *:insensitive {
	/* contextual menu insensitive */
    color: shade(@toolbar_text,0.3);
    text-shadow: none;
}

.menuitem.check,
.menuitem.radio,
.menuitem.check:hover,
.menuitem.radio:hover,
.menuitem.check:insensitive,
.menuitem.radio:insensitive,
.menuitem.check:active:insensitive,
.menuitem.radio:active:insensitive,
.menuitem.check:inconsistent:insensitive,
.menuitem.radio:inconsistent:insensitive {
    border-width: 0;
	border-style: none;
    background-image: none;
	
}

.toolbar .raised .button .menuitem.check:inconsistent,
.toolbar .raised .button .menuitem.radio:inconsistent,
.menuitem.check:inconsistent,
.menuitem.radio:inconsistent,
.toolbar .raised .button .menuitem.check:active,
.toolbar .raised .button .menuitem.radio:active,
.menuitem.check:active,
.menuitem.radio:active {
    border-width: 0;
	border-style: none;
    background-image: none;
	background-color: @toolbar;
	/* contextual menu check */
/*    color: @toolbar_text;*/
}

/* menuitem.chek de opciones visualizacion nautilus 3.6  */
.toolbar .raised .button .menuitem.check:inconsistent:hover,
.toolbar .raised .button .menuitem.radio:inconsistent:hover,
.menuitem.check:inconsistent:hover,
.menuitem.radio:inconsistent:hover,
.toolbar .raised .button .menuitem.check:active:hover,
.toolbar .raised .button .menuitem.radio:active:hover,
.menuitem.check:active:hover,
.menuitem.radio:active:hover,
.menuitem.arrow:hover {
    border-color: @selected_fg_color;
    color: @selected_fg_color;
}

.menuitem.check:insensitive,
.menuitem.radio:insensitive,
.menuitem.check:active:insensitive,
.menuitem.radio:active:insensitive,
.menuitem.check:inconsistent:insensitive,
.menuitem.radio:inconsistent:insensitive {
    color: mix (@toolbar_text, @toolbar, 0.6);
    text-shadow: none;

}

.menubar .menuitem GtkCalendar,
.menubar .menuitem GtkCalendar.button,
.menubar .menuitem GtkCalendar.header,
.menubar .menuitem GtkCalendar.view,
.primary-toolbar .menuitem GtkCalendar,
.primary-toolbar .menuitem GtkCalendar.button,
.primary-toolbar .menuitem GtkCalendar.header,
.primary-toolbar .menuitem GtkCalendar.view {
    background-color: @toolbar;
    background-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    padding: 0;

/*    color: @toolbar_text;*/
}

.menubar .menuitem GtkCalendar,
.primary-toolbar .menuitem GtkCalendar {
    background-color: shade (@toolbar, 1.3);
    background-image: none;
}


.menubar .menuitem GtkScale.trough {
    background-image: -gtk-gradient (linear,
			         left top,
			         left bottom,
			         from (shade(@toolbar, 0.80)),
                     color-stop (0.20, shade(@toolbar, 0.85)),
			         to   (shade(@toolbar, 0.96)));

    border-style: none;
    border-width: 0;
    border-radius: 8px;
    box-shadow: inset  1px  1px alpha(#000, 0.08),
                inset -1px -1px alpha(#000, 0.08);

}


Genericmenuitem .menuitem .accelerator,
DbusmenuGtkMenu .menuitem .accelerator,
.menubar .menuitem .accelerator,
.primary-toolbar .menuitem .accelerator {
    color: alpha (@toolbar_text, 0.8);
}

Genericmenuitem .menuitem .accelerator:hover,
DbusmenuGtkMenu .menuitem .accelerator:hover,
.menubar .menuitem .accelerator:hover,
.primary-toolbar .menuitem .accelerator:hover {
    color: alpha (@selected_fg_color, 0.8);
}

Genericmenuitem .menuitem .accelerator:insensitive,
DbusmenuGtkMenu .menuitem .accelerator:insensitive,
.menubar .menuitem .accelerator:insensitive,
.primary-toolbar .menuitem .accelerator:insensitive {
    color: alpha (mix (@toolbar_text, @toolbar, 0.4), 0.8);
    text-shadow: none;
}

.menuitem.separator {
    -GtkMenuItem-horizontal-padding: 0;
	-GtkWidget-separator-height: 1;

    border-image: -gtk-gradient (linear,
							left top, right top,
							from (alpha (#000, 0.00)),	
							color-stop (0.25, alpha (#000, 0.03)),
							color-stop (0.85, alpha (#000, 0.03)),
							to (alpha (#000, 0.00))) 1;

}
/*菜单分割线*/
GtkTreeMenu .menuitem.separator,
GtkMenuToolButton .menuitem.separator,
GtkComboBox .menuitem.separator,
.toolbar .menuitem.separator,
.toolbar .primary-toolbar .menuitem.separator,
.toolbar .raised .button .menuitem.separator,
.toolbar.menubar .button .menuitem.separator, 
.primary-toolbar .button .menuitem.separator,
.menu .menuitem.separator,
.menuitem.separator {
    -GtkWidget-wide-separators: false;
    -GtkMenuItem-horizontal-padding: 0;
	-GtkWidget-separator-height: 1; 
	border-width: 1px;
	border-style: solid;
    border-image: none;
	color: alpha(#FFF, 0.05);

	

}


/***************
 * Menu Button *
 ***************/
.button.menuitem.menubar:active,
.button.menuitem.menubar *:active {
/*    color: red;*/
    background-image: none;
    background-color: @toolbar;

    border-radius: 5px 5px 0 0;
    border-image: none;
    border-width: 1px 1px 0 1px;
    border-color: shade(@button_border, 1.30);
    border-style: solid;
}

