/***********
 * Sidebar *
 ***********/

.sidebar {
    -GtkTreeView-horizontal-separator: 6px;
    -GtkTreeView-vertical-separator: 1px;
}

.sidebar,
.sidebar.view,
.sidebar .view,
.sidebar.view:prelight,
.sidebar .view:prelight {
    border-radius: 0px;
    color:				@sidebar_fg_color;
	text-shadow: 		none;
    background-color:	@sidebar_background;

}
.sidebar:backdrop,
.sidebar.view:backdrop,
.sidebar .view:backdrop,
.sidebar.view:prelight:backdrop,
.sidebar .view:prelight:backdrop {
    border-radius: 0px;
    color:				#7D7D7D;
	text-shadow: 		none;
    background-color:	shade(@sidebar_background,0.98); 
}


.sidebar.view:selected,
.sidebar.view *:selected,
.sidebar .view:selected,
.sidebar .view *:selected,
.sidebar .view:selected:prelight {


    background-image:	 -gtk-gradient (linear,
										left top,
										left bottom,
										from (shade(@sidebar_selected_bg, 1.6)),
										to   (shade(@sidebar_selected_bg,1.4)));
    box-shadow: inset 0 1px shade(@sidebar_selected_bg,1.0),
                inset 0 -1px shade(@sidebar_selected_bg,1.0),
                inset 0 2px alpha(#fff,0.1);
    color:  @active_color;    
    text-shadow: 0 1px @dark_text_shadow;
}
.sidebar.view:selected:backdrop,
.sidebar.view *:selected:backdrop,
.sidebar .view:selected:backdrop,
.sidebar .view *:selected:backdrop,
.sidebar .view:selected:prelight:backdrop {

    background-image:	 -gtk-gradient (linear,
										left top,
										left bottom,
										from (shade(@sidebar_selected_bg, 1.8)),
										to   (shade(@sidebar_selected_bg,1.6)));
    box-shadow: inset 0 1px shade(@sidebar_selected_bg,1.2),
                inset 0 -1px shade(@sidebar_selected_bg,1.2),
                inset 0 2px alpha(#fff,0.05);
    color:  @backdrop_fg_color;    
    text-shadow: 0 1px @dark_text_shadow;
}


.sidebar .radio,
.sidebar .radio:focused,
.sidebar .radio:selected {
    background-image: none;
    background-color: alpha(@base_color, 0.0);
}

GtkHCollapsablePaned,
SourceList.pane-separator {
    border-width:            0px;
    -GtkPaned-handle-size: 0px;
}

GtkHCollapsablePaned .pane-separator,
GtkHCollapsablePaned .pane-separator:prelight,
GtkHCollapsablePaned .pane-separator:selected {
    background-image: none;
    background-color: @sidebar_background;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: red;
}

/* Marlin sidebar separator */
VarkaWidgetsHCollapsiblePaned,
VarkaWidgetsHCollapsiblePaned.pane-separator,
VarkaWidgetsHCollapsiblePaned.pane-separator:prelight,
VarkaWidgetsHCollapsiblePaned.pane-separator:selected {
    border-width:		0px;
	border-color:		shade(@sidebar_background, 0.80);
    background-image: 	-gtk-gradient(linear,
                                    left top, right top,
                                    from (@sidebar_background),
                                    color-stop(0.50, @sidebar_background),
                                    to   (#a9a9a9));
}

/*
VarkaWidgetsHCollapsiblePaned {
    border-width: 0px;
    -GtkPaned-handle-size: 1px;
}

VarkaWidgetsHCollapsiblePaned.pane-separator,
VarkaWidgetsHCollapsiblePaned.pane-separator:prelight,
VarkaWidgetsHCollapsiblePaned.pane-separator:selected {
    background-image: -gtk-gradient (linear,
         left top,
         right top,
         from (shade (@bg_color, 1.30)),
         to (shade (@bg_color, 0.55)));
    background-color: alpha(#fff, 0.0);
}

*/
