/*******************
 * check and radio *
 *******************/
GtkCheckButton:hover,
GtkCheckButton:active:hover,
GtkCheckButton:selected,
GtkCheckButton:selected:focus {
    background-color: transparent;
}


.check,
.check row:selected,
.check row:selected:focused {
    background-image: url("assets/checkbox-unchecked.png");
    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;
    
}
.check:backdrop,
.check row:selected:backdrop,
.check row:selected:focused:backdrop {
    background-image: url("assets/checkbox-unchecked.png");
    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

    
}
.check:hover,
.check row:selected:hover,
.check row:selected:focused:hover {
    background-image: url("assets/checkbox-unchecked-hover.png");
    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

    
}

.check:insensitive,
.check row:selected:insensitive,
.check row:selected:focused:insensitive {
    background-image: url("assets/checkbox-unchecked-insensitive.png");
    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

    
}

.check:active,
.check row:selected:active,
.check row:selected:focused:active {
    background-image: url("assets/checkbox-checked.png");
    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;
    
}
.check:active:backdrop,
.check row:selected:active:backdrop,
.check row:selected:focused:active:backdrop {
    background-image: url("assets/checkbox-checked.png");
    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

    
}

.check:active:hover,
.check row:selected:active:hover,
.check row:selected:focused:active:hover {
    background-image: url("assets/checkbox-checked-hover.png");
    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

    
}


/**
.check:active,
.check row:selected:active,
.check row:selected:focused:active {
    background-image: url("assets/checkbox-checked-pressed.png");
}
**/

.check:active:insensitive,
.check row:selected:active:insensitive,
.check row:selected:focused:active:insensitive {
    background-image: url("assets/checkbox-checked-insensitive.png");
    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

    
}

.check:inconsistent,
.check row:selected:inconsistent,
.check row:selected:focused:inconsistent {
    background-image: url("assets/checkbox-mixed.png");
    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

}
.check:inconsistent:backdrop,
.check row:selected:inconsistent:backdrop,
.check row:selected:focused:inconsistent:backdrop {
    background-image: url("assets/checkbox-mixed.png");
    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

}
.check:inconsistent:active:hover,
.check row:selected:active:hover,
.check row:selected:focused:active:hover {
    background-image: url("assets/checkbox-checked-hover.png");
    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

}

.check:inconsistent:insensitive,
.check row:selected:inconsistent:insensitive,
.check row:selected:focused:inconsistent:insensitive {
    background-image: url("assets/checkbox-mixed-insensitive.png");
    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

}

.radio,
.radio row:selected,
.radio row:selected:focused {
    background-image: url("assets/radio-unselected.png");
    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

}
.radio:hover,
.radio row:selected:hover,
.radio row:selected:focused:hover {
    background-image: url("assets/radio-unselected-hover.png");
    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;


}

.radio:insensitive,
.radio row:selected:insensitive,
.radio row:selected:focused:insensitive {
    background-image: url("assets/radio-unselected-insensitive.png");
    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

}

.radio:active,
.radio row:selected:active,
.radio row:selected:focused:active {
	background-image: url("assets/radio-selected.png");
	background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

}

.radio:active:backdrop,
.radio row:selected:active:backdrop,
.radio row:selected:focused:active:backdrop {
	background-image: url("assets/radio-selected.png");
	background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

    
}
.radio:active:hover,
.radio row:selected:active:hover,
.radio row:selected:focused:active:hover {
	background-image: url("assets/radio-selected-hover.png");
	background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

}

.radio:active:insensitive,
.radio row:selected:active:insensitive,
.radio row:selected:focused:active:insensitive {
    background-image: url("assets/radio-selected-insensitive.png");
    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

}

.radio:inconsistent,
.radio row:selected:inconsistent,
.radio row:selected:focused:inconsistent {
    background-image: url("assets/radio-mixed.png");
    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

}

.radio:inconsistent:backdrop,
.radio row:selected:inconsistent:backdrop,
.radio row:selected:focused:inconsistent:backdrop {
    background-image: url("assets/radio-mixed.png");
    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

}
.radio:inconsistent:active:hover,
.radio row:selected:inconsistent:active:hover,

.radio row:selected:focused:inconsistent:active:hover {
    background-image: url("assets/radio-mixed-hover.png");
    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

}

.radio:inconsistent:insensitive,
.radio row:selected:inconsistent:insensitive,
.radio row:selected:focused:inconsistent:insensitive {

    background-image: url("assets/radio-mixed-insensitive.png");


    background-color: transparent;
    background-repeat: no-repeat;
    box-shadow: none;

}
.menuitem.check:active {
    background-image: url("assets/menuitem-checkbox-checked.png");
    background-repeat: no-repeat;
    background-color: transparent;
    box-shadow: none;

}

.menuitem.check:active:insensitive {
    background-image: url("assets/menuitem-checkbox-checked-insensitive.png");
    background-repeat: no-repeat;
    background-color: transparent;
    box-shadow: none;

    
}

.menuitem.check:inconsistent,
.menuitem.radio:inconsistent {
    background-image: url("assets/menuitem-checkbox-mixed.png");
    background-repeat: no-repeat;
    background-color: transparent;
    box-shadow: none;

}

.menuitem.check:inconsistent:insensitive,
.menuitem.radio:inconsistent:insensitive {
    background-image: url("assets/menuitem-checkbox-mixed-insensitive.png");
    background-repeat: no-repeat;
    background-color: transparent;
    box-shadow: none;

}

.menuitem.radio:active {
    background-image: url("assets/menuitem-radio-checked.png");
    background-repeat: no-repeat;
    background-color: transparent;
    box-shadow: none;

}

.menuitem.radio:active:insensitive {
    background-image: url("assets/menuitem-radio-checked-insensitive.png");
    background-repeat: no-repeat;
    background-color: transparent;
    box-shadow: none;

}

/******************
 * pane separator *
 ******************/
.pane-separator,
.pane-separator.horizontal {
    background-image: linear-gradient(to bottom,
                                      shade(@theme_bg_color, 0.8) 0%,
                                      shade(@theme_bg_color, 0.8) 20%,
                                      transparent 20%,
                                      transparent 45%,
                                      shade(@theme_bg_color, 0.8) 45%,
                                      shade(@theme_bg_color, 0.8) 55%,
                                      transparent 55%,
                                      transparent 80%,
                                      shade(@theme_bg_color, 0.8) 80%,
                                      shade(@theme_bg_color, 0.8)
                                      );

    background-size: 4px 10px;
    background-repeat: no-repeat;
    background-position: center center;
}

.pane-separator.vertical {
    background-image: linear-gradient(to right,
                                      shade(@theme_bg_color, 0.8) 0%,
                                      shade(@theme_bg_color, 0.8) 20%,
                                      transparent 20%,
                                      transparent 45%,
                                      shade(@theme_bg_color, 0.8) 45%,
                                      shade(@theme_bg_color, 0.8) 55%,
                                      transparent 55%,
                                      transparent 80%,
                                      shade(@theme_bg_color, 0.8) 80%,
                                      shade(@theme_bg_color, 0.8)
                                      );

    background-size: 10px 4px;
    background-repeat: no-repeat;
    background-position: center center;
}
