UnityPanelWidget,
.unity-panel {

    background-image: url("assets/background-noise-toolbar.png"),
					  -gtk-gradient (linear, left top, left bottom,
                                     from (shade(@toolbar, 1.08)),
                                     to   (shade(@toolbar, 1.00)));

    border-width: 0px;
	border-style: none;

}

.unity-panel.menubar,
.unity-panel .menubar {
    color:				@toolbar_text;
	text-shadow: 		0px 1px @dark_text_shadow;    
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 0px;

    /* icon-shadow: 0 1 shade (@toolbar, 1.06); */
}


