/* default color scheme */
@define-color bg_color #fdfdfd;
@define-color fg_color #242424; 
@define-color base_color #ffffff;
@define-color text_color #282828;
@define-color selected_bg_color #2CA7F8;
@define-color selected_fg_color #fff;
@define-color tooltip_bg_color alpha(#000000,0.8);
@define-color tooltip_fg_color #fff;
@define-color black_text #000000;
@define-color focus #7BBEFB;
@define-color tab @selected_bg_color;
@define-color inline shade(@toolbar,1.2);
@define-color light_inline alpha(#fff,0.06);
@define-color toolbar_text #282828;
@define-color toolbar #fafafa;
@define-color toolbar_button shade(@toolbar, 1.0);
@define-color border alpha(#000,0.15);
@define-color active_text #fff;

/* dark color scheme */
@define-color dark_bg_color @base_color;
@define-color dark_fg_color @toolbar_text;

/* colormap actually used by the theme, to be overridden in other css files */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

/* shadow effects */
@define-color light_shadow #fff;
@define-color dark_shadow #000;

/* misc colors used by gtk+ */
@define-color info_fg_color rgb (58, 135, 173);
@define-color info_bg_color rgb (217, 237, 247);
@define-color warning_fg_color rgb (192, 152, 83);
@define-color warning_bg_color rgb (252, 248, 227);
@define-color question_fg_color  #2394f5;
@define-color question_bg_color  #FFC093;
@define-color error_fg_color rgb (185, 74, 72);
@define-color error_bg_color rgb (242, 222, 222);
@define-color link_color #007aff;
@define-color success_color #53a93f;
@define-color warning_color #f57900;
@define-color error_color #cc0000;

/* widget colors */
@define-color titlebar_bg_color @dark_bg_color;
@define-color titlebar_fg_color @dark_fg_color;
@define-color menubar_bg_color @dark_bg_color;
@define-color menubar_fg_color @dark_fg_color;
@define-color toolbar_bg_color @theme_bg_color;
@define-color toolbar_fg_color @theme_fg_color;
@define-color menu_bg_color @dark_bg_color;
@define-color menu_fg_color @dark_fg_color;
@define-color panel_bg_color alpha(@dark_bg_color, 0.8);
@define-color panel_fg_color @dark_fg_color;


/* widget colors transition*/
@define-color switch_on_bg_color #52D468;
@define-color switch_on_border_color #41C955;
@define-color switch_off_bg_color #FAFAFB;
@define-color switch_off_border_color #EAEAEB;
@define-color row_hover_bg_color #f0f0f0;

/* osd */
@define-color osd_base @dark_bg_color;
@define-color osd_fg @dark_fg_color;
@define-color osd_bg alpha(@osd_base, 0.8);

/* lightdm greeter colors */
@define-color lightdm_bg_color @dark_bg_color;
@define-color lightdm_fg_color @dark_fg_color;

/* window manager colors */
@define-color wm_bg @titlebar_bg_color;
@define-color wm_border_focused mix(shade(@titlebar_bg_color, 0.7), @titlebar_fg_color, 0.21);
@define-color wm_border_unfocused mix(shade(@titlebar_bg_color, 0.7), @titlebar_fg_color, 0.12);
@define-color wm_title_focused mix(@titlebar_fg_color, @titlebar_bg_color, 0.1);
@define-color wm_title_unfocused mix(@titlebar_fg_color, @titlebar_bg_color, 0.4);
@define-color wm_icons_focused mix(@titlebar_fg_color, @titlebar_bg_color, 0.1);
@define-color wm_icons_focused_prelight @selected_bg_color;
@define-color wm_icons_focused_pressed shade(@selected_bg_color, 0.8);
@define-color wm_icons_unfocused mix(@titlebar_fg_color, @titlebar_bg_color, 0.4);
@define-color wm_icons_unfocused_prelight @selected_bg_color;
@define-color wm_icons_unfocused_pressed shade(@selected_bg_color, 0.8);

@import url("gtk-widgets.css");
@import url("gtk-widgets-assets.css");
@import url("apps/gnome-applications.css");
@import url("apps/granite-widgets.css");
@import url("apps/unity.css");
@import url("apps/xfce.css");
@import url("apps/nemo.css");
@import url("apps/synaptic.css");
@import url("apps/lightdm-gtk-greeter.css");

