NautilusWindow .scrollbar{
    -GtkRange-trough-border: 2;
}

NautilusWindow .scrollbar.trough{
    background: #ffffff;
}

NautilusWindow .pane-separator,
NautilusWindow .pane-separator:prelight,
NautilusWindow .pane-separator:selected, 
NautilusWindow .pane-separator.vertical, 
NautilusWindow .pane-separator.vertical:prelight,
NautilusWindow .pane-separator.vertical:selected {
	-unico-centroid-texture: none; 
    background-image: none;
    border-width: 0;
    background-color: #aeaeae;
    color: #aeaeae;
}

NautilusWindow * {
    -GtkPaned-handle-size: 1;
}

NautilusWindow .primary-toolbar.toolbar {
    -unico-inner-stroke-width: 0px;
    -unico-inner-stroke-gradient: none;

    padding: 0 1px 0 6px;
    -GtkWidget-window-dragging: true;
    -GtkToolbar-button-relief: normal;
}

NautilusWindow .primary-toolbar.toolbar GtkHBox{
    padding: 0 4px 0 4px;
}

NautilusWindow .primary-toolbar .toolbar .button,
NautilusWindow .primary-toolbar.toolbar .button {

    padding: 0;
    -unico-border-gradient: none;

    -unico-inner-stroke-width: 0;
    -unico-inner-stroke-gradient: none;
    -unico-inner-stroke-color: @transparent;

    -unico-outer-stroke-width: 6px 0px 6px 0px;	
    -unico-outer-stroke-gradient: none;
    -unico-outer-stroke-color: @transparent;
    border: 0;
    background-color: #fff;
}

NautilusWindow .primary-toolbar.toolbar GtkLabel {
    padding: 0px 5px;
}
NautilusWindow .primary-toolbar.toolbar GtkLabel:active,
NautilusWindow .primary-toolbar.toolbar GtkLabel:focus {
    color: @selected_text_color;
}
NautilusWindow .primary-toolbar.toolbar GtkLabel:hover
{
    color: shade(@selected_text_color, 1.35);
}

#nautilus-search-button * {
    box-shadow: none;
    -unico-inner-stroke-width: 0;
    -unico-inner-stroke-gradient: none;
    -unico-inner-stroke-color: @transparent;

    -unico-outer-stroke-width: 6px 4px 6px 4px;
    -unico-outer-stroke-gradient: none;
    -unico-outer-stroke-color: @transparent;

    padding: 0 4px 0 4px;
}

NautilusWindow GtkScrolledWindow.frame {
    border-style: solid;
    border-width: 0px;
    border-radius: 0px;
    padding: 0;
    background: @transparent
}
