/* Deepin modify nautilus to set Button name by below
 * nautilus-toolbar-xxx
 * xxx:
 *      Search
 *      View List
 *      View Grid
 *      go-down-symbolic
 *      emblem-system-symbolic
 *      Back
 *      Forward
 */
NautilusWindow .scrollbar{
    -GtkRange-trough-border: 2;
}

NautilusWindow .scrollbar.trough{
    background: #ffffff;
}

NautilusWindow .pane-separator,
NautilusWindow .pane-separator:prelight,
NautilusWindow .pane-separator:selected, 
NautilusWindow .pane-separator.vertical, 
NautilusWindow .pane-separator.vertical:prelight,
NautilusWindow .pane-separator.vertical:selected {
    background-image: none;
    border-width: 0;
    background-color: #aeaeae;
    color: #aeaeae;
}

NautilusWindow * {
    -GtkPaned-handle-size: 1;
}

NautilusWindow .toolbar {
    -GtkWidget-window-dragging: true;
    -GtkToolbar-button-relief: normal;
}
NautilusWindow .menubar {
    border-color: @button_border_normal_color;
    border-style: solid;
    border: 0px 0px 1px 0px;
}
NautilusWindow .menubar:backdrop {
    border-color: @button_border_normal_color;
    border-style: solid;
    border: 0px 0px 1px 0px;
}

NautilusWindow .toolbar .button {
    padding: 0;
    border: 0;
    background: none;
    border: 1px solid transparent;
}
NautilusWindow .toolbar .button:active {
    background-image: -gtk-gradient (linear,
            left top,
            left bottom,
            from (alpha(@menu_bg_bottom_color, 0.2)),
            to (@menu_bg_top_color)); 
    border: 1px solid @insensitive_color;
}
NautilusWindow .toolbar .button:hover {
    border: 1px solid @insensitive_color;
    background: none;
    color: shade(@selected_text_color, 1.35);
}

NautilusWindow .toolbar .button GtkLabel {
    padding: 0px 5px;
}

NautilusWindow .toolbar GtkHBox{
    padding: 0 0px;
}

NautilusWindow GtkScrolledWindow.frame {
    border-style: solid;
    border-width: 0px;
    border-radius: 0px;
    padding: 0;
    background: @transparent
}

NautilusTrashBar.info .button {
    background: @bg_color;
    border-width: 1px;
}

NautilusTrashBar.info GtkLabel {
    color: @text_color;
}

NautilusTrashBar.info .button:insensitive
{
    background-color: @insensitive_color;
    color: white;
    border-width: 0px;
}
