# Arrows

	image
	{
            function			= ARROW
	    overlay_file		= "Arrows/arrow-up.png"
	    overlay_border		= { 0, 0, 0, 0 }
	    overlay_stretch		= FALSE
	    arrow_direction		= UP
	}
	image
	{
	    function			= ARROW
	    state			= PRELIGHT
	    overlay_file		= "Arrows/arrow-up-prelight.png"
	    overlay_border		= { 0, 0, 0, 0 }
	    overlay_stretch		= FALSE
	    arrow_direction		= UP
	}
	image
	{
	    function			= ARROW
	    state			= ACTIVE
	    overlay_file		= "Arrows/arrow-up-prelight.png"
	    overlay_border		= { 0, 0, 0, 0 }
	    overlay_stretch		= FALSE
	    arrow_direction		= UP
	}
	image
	{
	    function			= ARROW
	    state			= INSENSITIVE
	    overlay_file		= "Arrows/arrow-up-insens.png"
	    overlay_border		= { 0, 0, 0, 0 }
	    overlay_stretch		= FALSE
	    arrow_direction		= UP
	}


	image
	{
            function			= ARROW
	    state			= NORMAL
	    overlay_file		= "Arrows/arrow-down.png"
	    overlay_border		= { 0, 0, 0, 0 }
	    overlay_stretch		= FALSE
	    arrow_direction		= DOWN
	}
	image
	{
	    function			= ARROW
	    state			= PRELIGHT
	    overlay_file		= "Arrows/arrow-down-prelight.png"
	    overlay_border		= { 0, 0, 0, 0 }
	    overlay_stretch		= FALSE
	    arrow_direction		= DOWN
	}
	image
	{
	    function			= ARROW
	    state			= ACTIVE
	    overlay_file		= "Arrows/arrow-down-prelight.png"
	    overlay_border		= { 0, 0, 0, 0 }
	    overlay_stretch		= FALSE
	    arrow_direction		= DOWN
	}
	image
	{
	    function			= ARROW
	    state			= INSENSITIVE
	    overlay_file		= "Arrows/arrow-down-insens.png"
	    overlay_border		= { 0, 0, 0, 0 }
	    overlay_stretch		= FALSE
	    arrow_direction		= DOWN
	}

	image
	{
	    function			= ARROW
	    overlay_file		= "Arrows/arrow-left.png"
	    overlay_border		= { 0, 0, 0, 0 }
	    overlay_stretch		= FALSE
	    arrow_direction		= LEFT
	}
	image
	{
	    function			= ARROW
	    state			= PRELIGHT
	    overlay_file		= "Arrows/arrow-left-prelight.png"
	    overlay_border		= { 0, 0, 0, 0 }
	    overlay_stretch		= FALSE
	    arrow_direction		= LEFT
	}
	image
	{
	    function			= ARROW
	    state			= ACTIVE
	    overlay_file		= "Arrows/arrow-left-prelight.png"
	    overlay_border		= { 0, 0, 0, 0 }
	    overlay_stretch		= FALSE
	    arrow_direction		= LEFT
	}
	image
	{
	    function			= ARROW
	    state			= INSENSITIVE
	    overlay_file		= "Arrows/arrow-left-insens.png"
	    overlay_border		= { 0, 0, 0, 0 }
	    overlay_stretch		= FALSE
	    arrow_direction		= LEFT
	}

	image
	{
	    function			= ARROW
	    overlay_file		= "Arrows/arrow-right.png"
	    overlay_border		= { 0, 0, 0, 0 }
	    overlay_stretch		= FALSE
	    arrow_direction		= RIGHT
	}
	image
	{
	    function			= ARROW
	    state			= PRELIGHT
	    overlay_file		= "Arrows/arrow-right-prelight.png"
	    overlay_border		= { 0, 0, 0, 0 }
	    overlay_stretch		= FALSE
	    arrow_direction		= RIGHT
	}
	image
	{
	    function			= ARROW
	    state			= ACTIVE
	    overlay_file		= "Arrows/arrow-right-prelight.png"
	    overlay_border		= { 0, 0, 0, 0 }
	    overlay_stretch		= FALSE
	    arrow_direction		= RIGHT
	}
	image
	{
	    function			= ARROW
	    state			= INSENSITIVE
	    overlay_file		= "Arrows/arrow-right-insens.png"
	    overlay_border		= { 0, 0, 0, 0 }
	    overlay_stretch		= FALSE
	    arrow_direction		= RIGHT
	}


	# Option Menu Arrows

	image
	{
	    function                    = TAB
	    state		        = INSENSITIVE
	    overlay_file	        = "Arrows/arrow-down-insens.png"
	    overlay_stretch	        = FALSE
	}
	image
	{
	    function			= TAB
	    state			= NORMAL
	    overlay_file		= "Arrows/arrow-down.png"
	    overlay_border		= { 0, 0, 0, 0 }
	    overlay_stretch		= FALSE
	}
	image
	{
	    function			= TAB
	    state			= PRELIGHT
	    overlay_file		= "Arrows/arrow-down-prelight.png"
	    overlay_border		= { 0, 0, 0, 0 }
	    overlay_stretch		= FALSE
	}

